mixin navigation(options={firstPage:"", secondPage:"", thirdPage:"", fourthPage:""})
    - let {firstPage, secondPage, thirdPage, fourthPage} = options;
    .navigation
        .navigation__first-page
            button.navigation__button(name="button", onclick="document.location='index-first-page.html'")= firstPage
        .navigation__second-page
            button.navigation__button(name="button", onclick="document.location='index-second-page.html'")= secondPage
        .navigation__third-page
            button.navigation__button(name="button", onclick="document.location='index-third-page.html'")= thirdPage
        .navigation__fourth-page
            button.navigation__button(name="button", onclick="document.location='index-fourth-page.html'")= fourthPage	