include ../button/button.pug

mixin navigation(options={socialNetwork:"", job:"", interior:"", rentAuto:""})
    - let {socialNetwork, job, interior, rentAuto} = options;
    .navigation
        +button({
            size: `navigation`,
            color: `green`,
            name: `ripple`,
            title: `${socialNetwork}`,
            location: `document.location='social-network.html'`
        })
        +button({
            size: `navigation`,
            color: `green`,
            name: `ripple`,
            title: `${job}`,
            location: `document.location='job.html'`
        })
        +button({
            size: `navigation`,
            color: `green`,
            name: `ripple`,
            title: `${interior}`,
            location: `document.location='interior.html'`
        })
        +button({
            size: `navigation`,
            color: `green`,
            name: `ripple`,
            title: `${rentAuto}`,
            location: `document.location='rent-auto.html'`
        })