.arrow {

  &__button {
    border: 0.083rem solid #4eb7a8;
    text-align: center;
    width: 2.083rem;
    height: 2.083rem;
    border-radius: 50%;
    transition: 0.2s;
    overflow: hidden;
    position: relative;
    background: white;
    padding: 0;

    &:active,
    &:focus {
      outline: none;
      border: 0.083rem solid transparent;
    }

    &:visited {
      outline: none;
    }

    &_direction {
      &_left {
        border: 0.083rem solid #4eb7a8;

        &:hover {
          background: #4eb7a8;
          border: 0.083rem solid transparent;

          .arrow__image-left-top,
          .arrow__image-left-bottom {
            background: white;
          }
        }

        &:active,
        &:focus {
          background: #e5e5e5;

          .arrow__image-left-top,
          .arrow__image-left-bottom {
            background: white;
          }
        }
      }

      &_right {
        border: 0.083rem solid #4eb7a8;

        &:hover {
          background: #4eb7a8;
          border: 0.083rem solid transparent;

          .arrow__image-right-top,
          .arrow__image-right-bottom {
            background: white;
          }
        }

        &t:active,
        &:focus {
          background: #e5e5e5;

          .arrow__image-right-top,
          .arrow__image-right-bottom {
            background: white;
          }
        }
      }
    }
  }

  &__image {
    width: 2.083rem;
    height: 2.083rem;
    position: relative;

    &-left {
      &-top {
        transform: rotate(-45deg);
        transform-origin: bottom right;
        background: #4eb7a8;
        height: 0.12rem;
        left: 0.56rem;
        position: absolute;
        top: 0.45rem;
        width: 0.67rem;
      }

      &-bottom {
        transform: rotate(45deg);
        transform-origin: top right;
        background: #4eb7a8;
        height: 0.12rem;
        left: 0.56rem;
        position: absolute;
        top: 1.35rem;
        width: 0.67rem;
      }
    }

    &-right {
      &-top {
        transform: rotate(-135deg);
        transform-origin: bottom right;
        background: #4eb7a8;
        height: 0.12rem;
        left: 0.18rem;
        position: absolute;
        top: 0.36rem;
        width: 0.67rem;
      }

      &-bottom {
        transform: rotate(135deg);
        transform-origin: top right;
        background: #4eb7a8;
        height: 0.12rem;
        left: 0.18rem;
        position: absolute;
        top: 1.44rem;
        width: 0.67rem;
      }
    }
  }
}