include ../header1/header1.pug
include ../profile/profile.pug
include ../calendar/calendar.pug
include ../pie/pie.pug
include ../right-side/right-side.pug
include ../side-left/side-left.pug
include ../side-right/side-right.pug
include ../navigation/navigation.pug

mixin page1
    main.page1
        .page1-wrapper
            .header
                +header1({
                    source: "img/user.png",
                    name: "Sarah Brown"
                })
            .content-container
                +profile({
                    headline:"my profile", 
                    rightSideHeader:"Sarah Brown", 
                    profession: "Actress", 
                    phone: "+79263864674", 
                    twitter: "twitter", 
                    facebook: "facebook", 
                    firstSkill: "Horror", 
                    secondSkill: "Thriller", 
                    thirdSkill: "Drama", 
                    fourthSkill: "Comedy"
                })
                +right-side({
                    link1: "Profile",
                    link2: "Feedback",
                    link3: "News and Events"
                })
            .navigation
                +navigation({
                    page1: "page1", 
                    page2: "page2", 
                    page3: "page3", 
                    page4: "page4"
                })
            .footer1