mixin footer4(options={ link1: "", link2: "", link3: "" })
    - let {link1, link2, link3 } = options;
    .footer4
        .footer4__logo logotip
        .footer4__menu
            .footer4__link1-container
                a(href="/mock-address/change-me", class= "footer4__link1")= link1
            .footer4__link2-container
                a(href="/mock-address/change-me", class= "footer4__link2")= link2
            .footer4__link3-container
                a(href="/mock-address/change-me", class= "footer4__link3")= link3