.right-side {

  &__wrapper {
    width: 63%;
    height: 20.833rem;
    margin-right: 2rem;
  }
  
  &__links-contaner {
    height: 2.708rem;
    box-shadow: -0.083rem 0.083rem 0.542rem 0 rgba(0, 0, 0, 0.64);
    background: white;
    margin: 0.417rem 0 0 0.833rem;
    font-size: 0.583rem;
  }

  &__profile-container {
    padding-left: 0.417rem;
    padding-top: 0.333rem;
    text-transform: uppercase;
  }

  &__profile {
    text-decoration: none;
    color: #8e8d9c;
  }

  &__profile:hover {
    color: #e9753e;
  }

  &__feedback-container {
    padding-left: 0.417rem;
    text-transform: uppercase;
  }

  &__feedback {
    text-decoration: none;
    color: #8e8d9c;
  }
   
  &__feedback:hover {
      color: #e9753e;
  }

  &__news-and-events-container {
    padding: 0 0 0.208rem 0.417rem;
    text-transform: uppercase;
  }

  &__news-and-events {
    text-decoration: none;
    color: #8e8d9c;
  }

  &__news-and-events:hover {
    color: #e9753e;
  }
  
  &__news-container {
    height: 12.708rem;
    background: white;
    box-shadow: -0.083rem 0.083rem 0.542rem 0 rgba(0, 0, 0, 0.64);
    margin: 0.417rem 0 0 0.833rem;
    color: #8e8d9c;
  }

  &__news-header {
    font-size: 0.583rem;
    line-height: 0.625rem;
    text-transform: uppercase;
    padding: 0.208rem 0 0 0.417rem;
  }

  &__top-news {
    transform: translate(-1rem, -2.3rem) scale(0.6);
  }

  &__bottom-news {
    transform: translate(-1rem, -7.3rem) scale(0.6);
  }
}