.right-side {
  width: 35%;
  height: 20.833rem;
  
  &__links-contaner {
    height: 2.708rem;
    box-shadow:         -0.083rem 0.083rem 0.542rem 0 rgba(0, 0, 0, 0.64);
    background: white;
    margin-left: 0.833rem;
    margin-top: 0.417rem;
    font-size: 0.583rem;
  }

  &__profile-container {
    padding-left: 0.417rem;
    padding-top: 0.333rem;
    text-transform: uppercase;
  }

  &__profile {
    text-decoration: none;
    color: #8e8d9c;
  }

  &__profile:hover {
    color: #e9753e;
  }

  &__feedback-container {
    padding-left: 0.417rem;
    text-transform: uppercase;
  }

  &__feedback {
    text-decoration: none;
    color: #8e8d9c;
  }
   
  &__feedback:hover {
      color: #e9753e;
  }

  &__news-and-events-container {
    padding-left: 0.417rem;
    padding-bottom: 0.208rem;
    text-transform: uppercase;
  }

  &__news-and-events {
    text-decoration: none;
    color: #8e8d9c;
  }

  &__news-and-events:hover {
    color: #e9753e;
  }
  
  &__news-container {
    height: 12.708rem;
    background: white;
    -webkit-box-shadow: -0.083rem 0.083rem 0.542rem 0 rgba(0, 0, 0, 0.64);
    -moz-box-shadow:    -0.083rem 0.083rem 0.542rem 0 rgba(0, 0, 0, 0.64);
    box-shadow:         -0.083rem 0.083rem 0.542rem 0 rgba(0, 0, 0, 0.64);
    margin-left: 0.833rem;
    margin-top: 0.417rem;
    color: #8e8d9c;
  }

  &__news-header {
    padding-left: 0.417rem;
    font-size: 0.583rem;
    padding-top: 0.208rem;
    line-height: 0.625rem;
    text-transform: uppercase;
  }

  &__top-news {
    transform: scale(0.6);
    margin-left: -1.667rem;
    margin-top: -1.458rem;
  }

  &__bottom-news {
    transform: scale(0.6);
    margin-left: -1.667rem;
    margin-top: -4.667rem;
  }
}