include ../header-fourth-page/header-fourth-page.pug
include ../slider-left/slider-left.pug
include ../form-fourth-page/form-fourth-page.pug
include ../calendar/calendar.pug
include ../navigation/navigation.pug
include ../footer-fourth-page/footer-fourth-page.pug
include ../tick-boxes/tick-boxes.pug

mixin fourth-page
   main.fourth-page
        .fourth-page-wrapper
            .header-fourth-page
               +header-fourth-page({
                   firstButton: "Главная", 
                   secondButton: "Каталог", 
                   thirdButton: "О нас"
               })
            .content
                .left-side
                    .drop-down1
                        .drop-down1__header Коробка передач:
                        #drop-down1__contentline Не выбрано
                        button.drop-down1__button
                        .drop-down1__content-container
                            #drop-down1__option1 Механика
                            #drop-down1__option2 Автомат
                    .drop-down2
                        .drop-down2__header Место оформления аренды:
                        #drop-down2__contentline Не выбрано
                        button.drop-down2__button
                        .drop-down2__content-container
                            #drop-down2__option1 В офисе
                            #drop-down2__option2 Ваш адрес (по телефону)
                    .slider    
                        +slider-left
                    .add
                        .add__headline Добавить в машину:
                        .add__content1-container
                            .add__tick-box
                                +tick-boxes
                            .add__content1 Детское кресло
                        .add__content2-container
                            .add__tick-box
                                +tick-boxes
                            .add__content2 Навигатор
                        .add__content3-container
                            .add__tick-box
                                +tick-boxes
                            .add__content3 Автохолодильник
                    .form
                        +form-fourth-page
                .right-side
                    .calendar
                        +calendar
                        p#completeform 
                    button#submit Отправить заявку
            .navigation
                    +navigation({
                        firstPage: "page1", 
                        secondPage: "page2", 
                        thirdPage: "page3", 
                        fourthPage: "page4"
                    })
            .footer-fourth-page
                +footer-fourth-page({
                     firstLink: "Главная", 
                     secondLink: "Каталог", 
                     thirdLink: "Контакты" 
                })