
.form-index {
  width: 11.458rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;

  #form-index__completeform {
    padding: 0.292rem;
    border: 0;
    height: 1.875rem;
    line-height: 0.208rem;
    font-family: $mainFont;
    margin-top: -0.625rem;
    font-size: 0.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: red;
    margin-left: 3.333rem;
  }

  &__name {
    width: 11.458rem;
    height: 1.167rem;
    display: flex;
    flex-direction:row;
    margin: 0;
    padding: 0;
    position: relative;

    #form-index__name-input {
      width: 8.458rem;
      height: 1.167rem;
      margin: 0;  
      font-size: 0.5rem; 
      margin: 0;
      padding-left: 0.417rem;
      border: 0;
      background: #e5e5e5;
      font-size: 0.583rem;
      font-family: $thirdFont;
      font-weight: 400;
      color: #888888;
      line-height: 1.75rem;
      letter-spacing: 0.14px;
      border-radius: 0.125rem;
    }

    #form-index__name-message-container {
      width: 3.542rem;
      height: 1.452rem;
      padding: 0;
      margin: 0;
      font-family: $mainFont;
      font-weight: 400;
      font-size: 0.417rem;
      line-height: 1.917rem;
      letter-spacing: 0.5px;
      text-align: center;
      margin-top: -0.25rem;
      margin-left: 0.167rem;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0px 7px;
      background-color: transparent;
      color: #ffffff;
    }
  }

  #form-index__name-input-error-message {
    padding: 0.292rem;
    border: 0;
    height: 0.625rem;
    line-height: 0.208rem;
    font-family: $mainFont;
    margin-top: -0.625rem;
    font-size: 0.417rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: #888888;
  }

  &__email {
    width: 11.458rem;
    height: 1.167rem;
    display: flex;
    flex-direction:row;
    margin: 0;
    padding: 0;
    position: relative;
    
    #form-index__email-input {
      width: 8.458rem;
      height: 1.167rem;
      margin: 0;  
      font-size: 0.5rem; 
      margin: 0;
      padding-left: 0.417rem;
      border: 0;
      background: #e5e5e5;
      font-size: 0.583rem;
      font-family: $thirdFont;
      font-weight: 400;
      color: #888888;
      line-height: 1.75rem;
      letter-spacing: 0.14px;
      border-radius: 0.125rem;
    }

    #form-index__email-message-container {
      width: 3.542rem;
      height: 1.542rem;
      padding: 0;
      margin: 0; 
      font-family: $mainFont;
      font-weight: 400;
      font-size: 0.417rem;
      line-height: 1.833rem;
      letter-spacing: 0.5px;
      text-align: center;
      margin-top: -0.25rem;
      margin-left: 0.167rem;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0px 0.292rem;
      background-color: transparent;
      color: #ffffff;
    }
  }

  #form-index__email-input-error-message {
    padding: 0.292rem;
    border: 0;
    height: 0.625rem;
    line-height: 0.208rem;
    font-family: $mainFont;
    margin-top: -0.625rem;
    font-size: 0.417rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: #888888;
  }

  &__message {
    width: 11.458rem;
    height: 3.667rem;
    position: relative;

    #form-index__message-input {
      width: 10.625rem;
      height: 3.667rem;
      font-size: 0.5rem; 
      margin: 0;
      padding: 0.417rem;
      border: 0;
      background: #e5e5e5;
      font-size: 0.583rem;
      font-family: $thirdFont;
      font-weight: 400;
      color: #888888;
      letter-spacing: 0.14px;
      border-radius: 0.125rem;
      border: 0;                          
    }
  }

  #form-index__submit-button {
    width: 4.917rem;
    height: 1.333rem;
    border: 1px solid #4eb7a8;
    text-align: center;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    letter-spacing: 0;
    font-size: 0.5rem;
    border-radius: 0.208rem;
    box-shadow: 0 -2px rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    margin-top: 1.083rem;
    left: 6.542rem;
    margin-bottom: 1.25rem;
  }

  #form-index__submit-button:hover {
    background: #4eb7a8;
    color: #ffffff;
  }

  #form-index__submit-button, 
  #form-index__submit-button:active, 
  #form-index__submit-button:focus {
    outline: none;
  }
}
