.percents {

  .percents__wrapper {
    width: 4.167rem;
    height: 4.167rem;
  }

  &__number {
    font-size: 1.667rem;
    color: #9d9d9d;
    letter-spacing: -0.083rem;
    line-height: 1.75rem;
    font-weight: lighter;
    transform: translate3d(-0.917rem, 0.625rem, 0);
  }
}