.percents {
  width: 4.167rem;
  height: 4.167rem;

  &__number {
    font-size: 1.667rem;
    font-weight: 300;
    color: #9d9d9d;
    letter-spacing: -0.083rem;
    line-height: 1.75rem;
    font-family: $secondFont;
    transform: translate3d(-0.917rem, 0.625rem, 0);
  }
}