.percents {
  width: 4.167rem;
  height: 4.167rem;

  &__number {
    font-size: 1.667rem;
    font-weight: 300;
    color: #9d9d9d;
    letter-spacing: -2px;
    line-height: 1.75rem;
    font-family: $secondFont;
    transform: translate3d(-22px, 15px, 0px);
  }
}