.side1 {
  width: 100%;
  .side1-wrapper {
    width: 285px;
    height: 212px;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    .side1-wrapper__content {
      display: flex;
      flex-direction: column;
      background: #e75735;
      border-radius: 0 3px 3px 0;
      .side1-wrapper__content-line1 {
        font-family: $secondFont;
        color: #ffffff;
        font-size: 28px;
        margin-left: 24px;
        margin-block-start: 20px;
        margin-block-end: 15px;
        line-height: 26px;
        p {
          margin-block-start: 0px;
          margin-block-end: 0px;  
        }
      }
      .side1-wrapper__content-line2 {
        font-family: $mainFont;
        color: #ffffff;
        font-size: 11px;
        letter-spacing: 0.55px;
        margin-left: 24px;
        margin-top: -2px;
        p {
          margin-block-start: 0px;
          margin-block-end: 0px;  
        }
      }
      .side1-wrapper__content-line3 {
        font-family: $secondFont;
        color: #ffffff;
        font-size: 11px;
        margin-left: 24px;
        padding-right: 22px;
        letter-spacing: 0.55px;
      }
    }
  }
}