.side1
    .side1-wrapper
        img(src="img/pic-1.png", alt="Pic 1")
        .side1-wrapper__content
            .side1-wrapper__content-line1
                p It’s all going downhill
            .side1-wrapper__content-line2
                p 24  AUGUST  2013
            .side1-wrapper__content-line3
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
