.side1
    .side1_wrapper
        img(src="img/pic1.png")
        .side1_wrapper__content
            .side1_wrapper__content-line1
                p It’s all going downhill
            .side1_wrapper__content-line2
                p 24  AUGUST  2013
            .side1_wrapper__content-line3
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
            
