.headline{

  &__wrapper {
    margin: auto auto 0.5rem auto;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.07rem;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

}
