.headline{
  width: 14.583rem;
  margin: auto;
  margin-bottom: 1.458rem;
  text-align: center;
  font-family:$mainFont;
  letter-spacing: 0.9px;
  font-size: 0.75rem;
  text-transform: uppercase; 
}
