mixin button(options={size:"", color:"", name: "", title: ""})
    - let {size, color, name, title} = options;
    .button
        button( class = `button__item_${size}_${color}`, name = `${name}`)= title