mixin button(options={size:"", color:"", name: "", title: "", addClassName: ""})
    - let {size, color, name, title, addClassName} = options;
    .button
        button( class = `button__item button__item_size_${size} button__item_color_${color} ${addClassName}`, name = `${name}`)= title