.button {
  &__item {
    text-align: center;
    background: #ffffff;
    font-weight: bolder;
    border-radius: 0.208rem;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:visited {
      outline: none;
    }

    &_size {

      &_small {
        width: 3.25rem;
        height: 1rem;
        font-size: 0.45rem;
      }

      &_big {
        width: 4.917rem;
        height: 1.5rem;
        font-size: 0.55rem;
      }

      &_events {
        width: 5.333rem;
        height: 1.1rem;
        font-size: 0.417rem;
      }

      &_submit {
        width: 5rem;
        height: 1.5rem;
        font-size: 0.5rem;
      }

      &_messaging {
        font-size: 0.517rem;
        width: 10.2rem;
        height: 1.45rem;
      }

      &_navigation {
        width: 3.333rem;
        height: 1.333rem;
        font-size: 0.5rem;
      }

      &_profile-edit-button {
        width: 5.25rem;
        height: 0.917rem;
        font-size: 0.417rem;
      }

      &_avatar-edit-button {
        width: 5.25rem;
        height: 0.917rem;
        font-size: 0.417rem;
      }

      &_rent-auto-sumit-button {
        width: 8.333rem;
        height: 2.083rem;
        font-size: 0.55rem;
      }
    }

    &_color {

      &_green {
        border: 0.042rem solid #4eb7a8;
        color: #4eb7a8;
        box-shadow: 0 -0.083rem #4eb7a8 inset;

        &:hover {
          border: 0.042rem solid #4eb7a8;
          box-shadow: 0 -0.083rem #28a290 inset;
          background: #4eb7a8;
          color: #ffffff;
        }
      }

      &_orange {
        border: 0.042rem solid #e75735;
        color: #e75735;
        box-shadow: 0 -0.083rem #e75735 inset;

        &:hover {
          border: 0.042rem solid #e75735;
          box-shadow: 0 -0.083rem #bf3e1f inset;
          background: #e75735;
          color: #ffffff;
        }
      }
    }
  }

  &__ripple {
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
  }

  @keyframes ripple {
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }
}