mixin header4(options={button1:"", button2:"", button3:""})
    - let {button1, button2, button3} = options;
    .header4
        .header4__first-line
            .header4__logo logotip
        .header4__second-line
            .header4__button1-container
                button(name="button", class="header4__button1")= button1
            .header4__button2-container
                button(name="button", class="header4__button2")= button2
            .header4__button3-container
                button(name="button", class="header4__button3")= button3