.arrows {
  width: 60%;

  &__arrows-container {
    width: 5.417rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center; 
    align-content: center;
    margin-left: 4.167rem;
    margin-bottom: 2rem;
  }

  &__first-button {
    border: 0.083rem solid #4eb7a8;
    text-align: center;
    width:  2.083rem;
    height: 2.083rem;
    background-image: url('../../img/arrow1.png');
    background-repeat: no-repeat;
    background-position: 0.542rem 0.458rem;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  
  &__first-button:hover {
    background: #4eb7a8;
    background-image: url('../../img/arrow3.png');
    background-repeat: no-repeat;
    background-position: 0.583rem 0.5rem;
    border: none;
  }

  &__first-button:active, 
  &__first-button:focus {
    outline: none;
    background-image: url('../../img/arrow3.png');
    background-repeat: no-repeat;
    background-position: 0.583rem 0.5rem;
    background-color: #e5e5e5;
    border: none;
  }

  &__first-button:visited {
    outline: none;
  }

  &__first-button::-moz-focus-inner {
    border: 0;
  }

  &__second-button {
    border: 0.083rem solid #4eb7a8;
    text-align: center;
    width:  2.083rem;
    height: 2.083rem;
    background-image: url('../../img/arrow2.png');
    background-repeat: no-repeat;
    background-position: 0.625rem 0.458rem;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
    overflow: hidden;
    position: relative;
    padding: 0;
  }

  &__second-button:hover {
    background: #4eb7a8;
    background-image: url('../../img/arrow4.png');
    background-repeat: no-repeat;
    background-position: 0.667rem 0.5rem;
    border: none;
  }

  &__second-button:active, 
  &__second-button:focus {
    outline: none;
    background-image: url('../../img/arrow4.png');
    background-repeat: no-repeat;
    background-position: 0.667rem 0.5rem;
    background-color: #e5e5e5;
    border: none;
  }

  &__second-button:visited {
    outline: none;
  }

  &__second-button::-moz-focus-inner {
    border: 0;
  }
}