include ../headline/headline.pug
include ../button/button.pug
include ../percents/percents.pug
include ../pie/pie.pug
include ../slider/slider
include ../step-slider/step-slider
include ../stages/stages.pug
include ../form/form.pug
include ../toggles/toggles.pug
include ../tick-boxes/tick-boxes.pug
include ../search/search.pug
include ../drop-down/drop-down.pug
include ../user/user.pug
include ../news/news.pug
include ../events/events
include ../location/location.pug
include ../calendar/calendar.pug
include ../messaging/messaging.pug
include ../player/player.pug
include ../arrow-left/arrow-left.pug
include ../arrow-right/arrow-right.pug
include ../navigation/navigation.pug


mixin page
    main.page
            .page-wrapper
                .buttons
                    .buttons__header
                        +headline ("standard buttons")
                    .buttons__container
                        +button({
                            width: `3.25rem`, 
                            height: `0.917rem`,
                            color: `#4eb7a8`, 
                            name: "button"
                        })
                        +button({
                            width: `4.917rem`, 
                            height: `1.333rem`,
                            color: `#4eb7a8`, 
                            name: "button"
                        })
                        +button({
                            width: `4.917rem`, 
                            height: `1.333rem`,
                            color: `#e75735`, 
                            name: "button"
                        })
                        +button({
                            width: `3.25rem`, 
                            height: `0.917rem`,
                            color: `#e75735`, 
                            name: "button"
                        })
                .arrows
                    .arrows__header
                        +headline ("arrows")
                    .arrows__container
                        +arrow-left
                        +arrow-right
                .percents-pie
                    +headline ("percentages / pie chart")
                    .percents-pie__container
                        +percents ({
                            percent: 0
                        })
                        +percents ({
                            percent: 38
                        })
                        +percents ({
                            percent: 62
                        })
                        +percents ({
                            percent: 89
                        })
                        +pie
                .sliders
                    +headline ("sliders")
                    .sliders-container
                        +slider
                        +step-slider
                .stages
                    +headline ("stages")
                    +stages
                .form-tick-boxes-toggles
                    +headline ("form elements")
                    .form-tick-boxes-toggles-container
                        .form-tick-boxes-toggles__form
                            +form
                        .form-tick-boxes-toggles__tick-boxes-toggles
                            +headline ("toggles")
                            +toggles
                            +headline ("tick boxes")
                            +tick-boxes
                .search-drop-down-user-profile
                    .search-drop-down
                        +headline ("search / drop down")
                        +search
                        +drop-down ({contentline: "Choose An Option", option1: "Option 1", option2: "Option 2", option3: "Option 3"})
                    .user-profile
                        +headline ("user profile")
                        +user ({
                            source: "src/blocks/user/images/user-1.png",
                            name: "John Smith",
                            profession: "ux designer"
                        })
                        +user ({
                            source: "src/blocks/user/images/user-2.png",
                            name: "Sarah Brown",
                            profession: "developer"
                        })
                .news-events
                    +headline ("news & events")
                    .news-events-container
                        +news({
                            source: "src/blocks/news/images/pic-1.png",
                            title: "It’s all going downhill",
                            date: "24  august 2013",
                            text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.`
                        })
                        +events({
                            source: "src/blocks/events/images/pic-2.png",
                            number: "24",
                            month: "Aug",
                            title: `this is the title`,
                            text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                            buttonTitle: "add to calendar"
                        })
                .location
                    +headline ("location")
                    +location({ 
                        title: "Meet us!", 
                        address: "1259  California St san Francisco, CA"
                    })
                .calendar-messaging
                    .calendar_head
                        +headline ("calendar")
                        +calendar
                    .messaging
                        +headline ("messaging")
                        +messaging ({
                            name: "Sarah Brown",
                            source: "src/blocks/messaging/images/user-2.png", 
                            firstMessage: "Hey! So are we cool to meet at the art gallery? Say 8pm", 
                            secondMessage: "Yeah that sounds great. See you then.", 
                            buttonTitle: "reply"
                        })
                .video
                    +headline ("video")
                    +player
                .page-navigation
                    +headline ("_______________________________________")
                .navigation
                    +navigation({
                        alfa: "Alfa", 
                        betta: "Betta", 
                        gamma: "Gamma", 
                        sigma: "Sigma"
                    })