include ../headline/headline.pug
include ../button/button.pug
include ../percents/percents.pug
include ../pie/pie.pug
include ../slider/slider
include ../step-slider/step-slider
include ../stages/stages.pug
include ../form/form.pug
include ../toggle/toggle.pug
include ../tick-boxes/tick-boxes.pug
include ../search/search.pug
include ../drop-down/drop-down.pug
include ../user/user.pug
include ../news/news.pug
include ../events/events
include ../location/location.pug
include ../calendar/calendar.pug
include ../messaging/messaging.pug
include ../player/player.pug
include ../arrow/arrow.pug
include ../navigation/navigation.pug


mixin page
    main.page
            .page-wrapper
                .buttons
                    .buttons__header
                        +headline ("standard buttons")
                    .buttons__container
                        .buttons__clicked
                            +button({
                                width: `3.25rem`,
                                height: `1rem`,
                                fontSize: `0.45rem`,
                                color: `#4eb7a8`,
                                shadowHoverColor: `#28a290`,
                                name: "button"
                            })
                            +button({
                                width: `4.917rem`,
                                height: `1.5rem`,
                                fontSize: `0.55rem`,
                                color: `#4eb7a8`,
                                shadowHoverColor: `#28a290`,
                                name: "button"
                            })
                            +button({
                                width: `4.917rem`,
                                height: `1.5rem`,
                                fontSize: `0.55rem`,
                                color: `#e75735`,
                                shadowHoverColor: `#bf3e1f`,
                                name: "button"
                            })
                            +button({
                                width: `3.25rem`,
                                height: `1rem`,
                                fontSize: `0.45rem`,
                                color: `#e75735`,
                                shadowHoverColor: `#bf3e1f`,
                                name: "button"
                            })
                        .buttons__hovered
                            +button({
                                width: `3.25rem`,
                                height: `1rem`,
                                fontSize: `0.45rem`,
                                color: `#4eb7a8`,
                                shadowHoverColor: `#28a290`,
                                name: "button"
                            })
                            +button({
                                width: `4.917rem`,
                                height: `1.5rem`,
                                fontSize: `0.55rem`,
                                color: `#4eb7a8`,
                                shadowHoverColor: `#28a290`,
                                name: "button"
                            })
                            +button({
                                width: `4.917rem`,
                                height: `1.5rem`,
                                fontSize: `0.55rem`,
                                color: `#e75735`,
                                shadowHoverColor: `#bf3e1f`,
                                name: "button"
                            })
                            +button({
                                width: `3.25rem`,
                                height: `1rem`,
                                fontSize: `0.45rem`,
                                color: `#e75735`,
                                shadowHoverColor: `#bf3e1f`,
                                name: "button"
                            })
                        .buttons__no-action
                            +button({
                                width: `3.25rem`,
                                height: `1rem`,
                                fontSize: `0.45rem`,
                                color: `#4eb7a8`,
                                shadowHoverColor: `#28a290`,
                                name: "button"
                            })
                            +button({
                                width: `4.917rem`,
                                height: `1.5rem`,
                                fontSize: `0.55rem`,
                                color: `#4eb7a8`,
                                shadowHoverColor: `#28a290`,
                                name: "button"
                            })
                            +button({
                                width: `4.917rem`,
                                height: `1.5rem`,
                                fontSize: `0.55rem`,
                                color: `#e75735`,
                                shadowHoverColor: `#bf3e1f`,
                                name: "button"
                            })
                            +button({
                                width: `3.25rem`,
                                height: `1rem`,
                                fontSize: `0.45rem`,
                                color: `#e75735`,
                                shadowHoverColor: `#bf3e1f`,
                                name: "button"
                            })
                .arrows
                    .arrows__header
                        +headline ("arrow buttons")
                    .arrows__container
                        .arrows__standard
                            +arrow({
                                direction: "left"
                            })
                        .arrows__standard
                            +arrow({
                                direction: "right"
                            })
                        .arrows__pressed
                            +arrow({
                                direction: "left"
                            })
                        .arrows__pressed
                            +arrow({
                                direction: "right"
                            })
                        .arrows__hovered
                            +arrow({
                                direction: "left"
                            })
                        .arrows__hovered
                            +arrow({
                                direction: "right"
                            })
                .percents-pie
                    +headline ("percentages / pie chart")
                    .percents-pie__container
                        .percents-pie__wrapper
                            +percents ({
                                percent: 0
                            })
                        .percents-pie__wrapper
                            +percents ({
                                percent: 38
                            })
                        .percents-pie__wrapper
                            +percents ({
                                percent: 62
                            })
                        .percents-pie__wrapper
                            +percents ({
                                percent: 89
                            })
                        .percents-pie__wrapper_pie
                            +pie
                .sliders
                    +headline ("sliders")
                    .sliders-container
                        .sliders_slider-wrapper
                            +slider
                        .sliders_step-slider-wrapper
                            +step-slider
                .stages
                    +headline ("stages")
                    .stages__stages-wrapper
                        +stages
                .form-tick-boxes-toggle
                    +headline ("form elements")
                    .form-tick-boxes-toggle-container
                        .form-tick-boxes-toggle__form
                            +form
                        .form-tick-boxes-toggle__tick-boxes-toggle
                            .form-tick-boxes-toggle__toggle-headline
                                +headline ("toggles")
                            .form-tick-boxes-toggle__toggle-container
                                +toggle({
                                    id: "1"
                                })
                                +toggle({
                                    id: "2"
                                })
                            .form-tick-boxes-toggle__tick-boxes-headline
                                +headline ("tick boxes")
                            .form-tick-boxes-toggle__tick-boxes-container
                                +tick-boxes({
                                    id: "1"
                                })
                                +tick-boxes({
                                    id: "2"
                                })
                .search-drop-down-user-profile
                    .search-drop-down
                        .search-drop-down__search-headline
                            +headline ("search / drop down")
                        .search-drop-down__search
                            +search
                        .search-drop-down__drop-down
                            +drop-down ({
                                contentContainer: [
                                    {content: "This option 1"},
                                    {content: "This option 2"},
                                    {content: "This option 3"},
                                    {content: "This option 4"},
                                ]
                            })
                    .user-profile
                        .user-profile__headline
                            +headline ("user profile")
                        .user-profile__users-container
                            +user ({
                                source: "src/blocks/user/images/user-1.png",
                                name: "John Smith",
                                profession: "ux designer"
                            })
                        +user ({
                            source: "src/blocks/user/images/user-2.png",
                            name: "Sarah Brown",
                            profession: "developer"
                        })
                .news-events
                    +headline ("news & events")
                    .news-events-container
                        +news({
                            source: "src/blocks/news/images/pic-1.png",
                            title: "It’s all going downhill",
                            date: "24  august 2013",
                            text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.`
                        })
                        +events({
                            source: "src/blocks/events/images/pic-2.png",
                            number: "24",
                            month: "Aug",
                            title: `this is the title`,
                            text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.`,
                            buttonTitle: "add to calendar"
                        })
                .location
                    +headline ("location")
                    .location-container
                        +location({
                            title: "Meet us!",
                            address: "1259  California St san Francisco, CA"
                        })
                .calendar-messaging
                    .calendar__warapper
                        .calendar_head
                            +headline ("calendar")
                        .calendar__calendar
                            +calendar
                    .messaging
                        .messaging__wrapper
                            .messaging__headline
                                +headline ("messaging")
                            .messaging__messaging
                                +messaging ({
                                    name: "Sarah Brown",
                                    source: "src/blocks/messaging/images/user-2.png",
                                    firstMessage: "Hey! So are we cool to meet at the art gallery? Say 8pm",
                                    secondMessage: "Yeah that sounds great. See you then.",
                                    buttonTitle: "reply"
                                })
                .video
                    +headline ("video")
                    +player
                .page-navigation
                    +headline ("_______________________________________")
                .navigation
                    +navigation({
                        socialNetwork: "social-network",
                        job: "job",
                        interior: "interior",
                        rentAuto: "rent-auto"
                    })