.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__buttons {
    width: 100%;

    &-container {
      padding-top: 2.3rem;
      width: 65%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0.5rem auto 1.5rem auto;
    }

    &-clicked,
    &-hovered,
    &-no-action {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0.65rem;
      align-items: center;

      @media screen and (max-width: 480px) {
        flex-direction: column;
      }
    }
  }

  &__arrows {
    margin: auto auto 1.85rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-top: 1.4rem;
      width: 100%;
    }

    &-standard,
    &-pressed,
    &-hovered {
      margin: 0 0.5rem 0 0.47rem;
    }
  }
  &__percents-pie{
    width:100%;
    margin-bottom:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-container{
      padding-top:1.2rem;
      width:83%;
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__sliders {
    width:80%;
    &-headline {
      margin: auto;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 1.45rem auto 2.7rem auto;

      @media screen and (max-width: 720px) {
        flex-wrap: wrap;
      }
    }

    &-slider-wrapper {
      padding-top: 0.4rem;
      margin-left: 0.1rem;

      @media screen and (max-width: 720px) {
        width: 50%;
        margin: auto;
        margin-bottom: 2rem;
      }
    }

    &-step-slider-wrapper {
      padding-top: 0.4rem;
      padding-right: 0.3rem;

      @media screen and (max-width: 720px) {
        width: 50%;
        margin: auto;
      }
    }
  }

  &__stages {
    width:80%;
    &-headline {
      margin: auto;
    }

    &-content {
      margin: 1.53rem 0 2.6rem 0;
    }
  }


  &__form-tick-boxes-toggle {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-form{
      padding-left:2rem;
    }
    &-headline {
      margin: auto;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin-bottom: 2.6rem;
      position: relative;
      height: 11rem;

      @media screen and (max-width: 720px) {
        margin-bottom: 10rem;
      }
    }

    &-tick-boxes-toggle {
      width: 5rem;
      margin-top:2rem;
    }

    &-toggle-headline {
      margin-left: 0.5rem;
    }

    &-toggle-container {
      display: flex;
      flex-direction: row;
      margin: 1.3rem 2rem .45rem 0;
    }

    &-toggle {
      margin-left: 0.3rem;
    }

    &-tick-boxes-headline {
      margin: 1.5rem 0 0 0.5rem;
      white-space: nowrap;
    }

    &-tick-boxes-container {
      display: flex;
      flex-direction: row;
      margin: 1.2rem 0 1rem 1.4rem;
      width: 70%;
    }
  }

  &__search-drop-down-user-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.7rem;

  }

  &__search-drop-down {
    &-search-headline {
      margin: auto;
    }

    &-container {
      margin-left: 8%;
    }


    &-search {
      margin: 0.75rem auto auto auto;

      &-false {
        margin-bottom: 0.6rem;
      }

      &-true {
        margin-bottom: 0.6rem;
      }
    }

    &-drop-down {
      margin: 0.803rem 0 4.5rem 0;
    }
  }

  &__user-profile {
    width: 13.458rem;
    margin-right: 3.9rem;

    &__headline {
      margin-left: 2rem;
    }

    &-users-container {
      margin-top: 1.3rem;
    }
  }

  &__user {
    margin: 0 0 1.042rem 1.458rem;
  }

  &__news-events {
    width:85%;
    &-headline {
      margin: auto;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1.5rem 0 1.9rem 0;

      @media screen and (max-width: 720px) {
        flex-wrap: wrap;
      }
    }
  }

  &__location {
    &-headline {
      margin: auto;
      margin-bottom:1rem;
    }
  }

  &__calendar-messaging {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0.6rem;
    margin-top: 2.4rem;
  }

  &__calendar-wrapper {
    margin-right: 1.2rem;

  }


  &__messaging {
    margin-top: 1rem;

  }

  &__calendar {
    margin: 1rem auto auto 0;
  }

  &__video {
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100%;
    &-headline {
      margin: auto;
    }
    video{
      width:100%;
    }

    &-player {
      width:100%;
      height:100%;
      margin: 0.8rem 0 1.25rem 0;
      display: flex;
      justify-content: center;
      .player{
        height:100%;
        display: flex;
        justify-content: center;
        &__controls{
          width:90%;
          top:86%;
        }
      }
    }
  }

  &__navigation {
    margin-bottom: 10%;

    &-headline {
      margin: auto;
    }
  }
}


@media (min-width:450px)and(max-width:500px) {
  .page__percents-pie {
    width: 55%;

    &-container {
      justify-content: center;
    }
  }
  .page {
    &__arrows {

      &-container {
        width: 80%;
      }
    }
  }
  .page__buttons {
    width: 80%;
  }
  .page__location {
    width: 16rem;
    height: 12rem;
    margin: 0;

    &-map {
      height: 10rem;
    }
    .location {
      height: 100%;

      &__map {
        height: 100%;
      }
      &__content {
        display: none;
      }
    }
  }
  .page__video {
    width: 15rem;
    height: 10rem;

    .player__controls {
      top: 75%;
    }
  }
}

@media (min-width:500px) and(max-width:550px) {
  .page__percents-pie {
    width: 55%;

    &-container {
      justify-content: center;
    }
  }

  .page {
    &__arrows {
      &-container {
        width: 80%;
      }
    }
  }
  .page__video {
    width: 18rem;
    height: 10rem;

    .player__controls {
      top: 75%;
    }
  }
  .page__location {
    width: 16rem;
    height: 12rem;
    margin: 0;

    &-map {
      height: 10rem;
    }

    .location {
      height: 100%;

      &__map {
        height:100%;
      }

      &__content {
        display: none;
      }
    }
  }

}

@media (min-width:550px) and(max-width:600px) {
  .page__percents-pie {
    width: 55%;

    &-container {
      justify-content: center;
    }
  }

  .page {
    &__arrows {
      &-container {
        width: 85%;
      }
    }
  }
  .page__video {
    width: 20rem;
    height: 13rem;

    &-player {
      width: 100%;

      .player__video {
        width:100%;
        background: black;
      }

      .player {
        &__controls {
          width: 100%;
          top: 80%;
        }
      }
    }
  }

  .page__location {
    width: 16.5rem;
    height: 12rem;
    margin: 0;

    &-map {
      height: 10rem;
    }

    .location {
      height: 100%;

      &__map {
        height:100%;
      }

      &__content {
        display: none;
      }
    }
  }
}

@media (min-width:650px) and(max-width:700px) {
  .page__video {
    width:22rem;
    height:14rem;

    &-player {
      width: 100%;

      .player__video {
        width: 100%;
        background: black;
      }

      .player {
        &__controls {
          width: 100%;
          top: 81%;
        }
      }
    }
  }

  .page__percents-pie {
    width: 80%;
  }
}

@media (min-width:600px) and(max-width:650px) {
  .page__percents-pie {
    width: 70%;

    &-container {
      justify-content: center;
    }
  }
  .page__video {
    width: 22rem;
    height: 14rem;

    &-player{
      width:100%;

      .player__video {
        width:100%;
        background: black;
      }

      .player {
        &__controls {
          width: 100%;
          top: 81%;
        }
      }
    }
  }
  .page__location {
    width: 16.5rem;
    height: 12rem;
    margin: 0;

    &-map {
      height: 10rem;
    }
    .location {
      height: 100%;

      &__map {
        height: 100%;
      }

      &__content {
        display: none;
      }
    }
  }
}


@media screen and (max-width:550px) {
  .page__navigation-container {
    width: 5rem;

    .headline {
      font-size:0;
    }
  }

  .navigation {
    flex-direction: column;
    align-items: center;

    .button{
      width: 6rem;
      height: 2rem;
      margin-bottom: 10px;

      button {
        width: 100%;
        height: 100%;
        font-size: 0.8rem;
      }
    }
  }

  .page__video {
    width: 90%;
    height: 13rem;

    &-player {
      width: 100%;

      .player__video {
        width: 100%;
        background: black;
      }

      .player {
        &__controls {
          width: 100%;
          top: 80%;
        }
      }
    }
  }
}

@media screen and (max-width:450px) {
  .page__percents-pie {
    width: 45%;

    &-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .page {
    &__arrows {
      &-container {
        width: 60%;
        justify-content: center;
      }
    }
  }

  .page__buttons {
    width:70%;

    &-container {
      align-items: center;
      flex-direction: column;

      .page__buttons-item {
        margin: 0;

        button {
          margin: 0;
          margin-bottom: 0.6rem;
        }
      }
    }
  }

  .page__location {
    width: 16rem;
    height: 12rem;
    margin: 0;

    &-map {
      height: 10rem;
    }

    .location {
      height: 100%;

      &__map {
        height:100%;
      }

      &__content {
        display:none;
      }
    }
  }
}

@media screen and(max-width:650px) {
  .page__form-tick-boxes-toggle {
    &-container {
      width: 90%;
      flex-direction: column;

      .form {
        width:100%;
        display: flex;
        flex-direction: column;

        &__name,
        &__email,
        &__message {
          width: 100%;
          margin-bottom: 0.1rem;

          .form__message-input {
            width: 100%;
            box-sizing: border-box;
          }

          .form__name-input,
          .form__email-input {
            width: 75%;
          }

          &-message-container {
            height: 100%;
            background-size: 100% 100%;
          }
        }
        &__submit {
          align-self: flex-end;
        }
      }
    }

    &-tick-boxes-toggle {
      align-self: center;
      position: relative;
      width: 80%;
      height: 4rem;

      .page__form-tick-boxes-toggle-toggle-container,
      .page__form-tick-boxes-toggle-tick-boxes-headline,
      .page__form-tick-boxes-toggle-tick-boxes-container {
        margin: 0;
      }

      .page__form-tick-boxes-toggle-tick-boxes-headline {
        position: absolute;
        right: 0;
        top: 0;
        margin-bottom: 3rem;
      }

      .page__form-tick-boxes-toggle-tick-boxes-container {
        position: absolute;
        width: 2rem;
        right: 2.5rem;
        top: 105%;
      }

      .page__form-tick-boxes-toggle-toggle-headline {
        width: 4rem;
        position: absolute;
        left: 0;
        margin-bottom: 3rem;
      }

      .page__form-tick-boxes-toggle-toggle-container {
        width: 4rem;
        margin-top: 4rem;
      }
    }
  }

  .page__search-drop-down-user-profile-container {
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;

    .page__search-drop-down-container {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .page__search-drop-down-search {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .page__search-drop-down-search-false,
        .page__search-drop-down-search-true {
          width: 100%;

          .search {
            width: 100%;

            &__input-container {
              width: 100%;

              .search__input {
                width: 100%;
              }
            }
          }
        }
      }

      .page__search-drop-down-drop-down {
        margin: 0;
        margin-bottom: 2rem;
        width: 100%;

        .drop-down {
          width:100%;

          &__select,
          &__options,
          &__select-title {
            width: 100%;
          }

          &__item {
            width: 96%;
          }
        }
      }
    }
  }

  .page__user-profile {
    width: 90%;
    margin-right:0;
    
    &-users-container {
      width: 100%;
    }
  }

  .page__user {
    width:100%;
    margin-left:0;

    .user {
      display:flex;
      justify-content: flex-start;

      &__content-container {
        width: 75%;
        background-size: 100% 3.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .user__links-container {
          margin: 0;
          margin-top: 0.3rem;
        }
      }
    }
  }
}


@media screen and (max-width:700px) {
  .page__news,
  .page__events {
    margin: 0;
    margin-bottom: 0.7rem;
    width: 100%;

    .news,.events,
    .events__content-container,
    .news__content-container {
      width: 100%;
    }
  }

  .page__calendar-messaging {
    flex-wrap: wrap;
    width: 90%;
  }

  .page__calendar-wrapper,
  .page__messaging-wrapper {
    width: 90%;
    margin-right: 0;

    .page__calendar,
    .page__messaging.calendar,
    .messaging,
    .calendar {
      width: 100%;
    }

    .calendar__item,
    .messaging__item {
      width: 100%;
      &-upper-header,
      &-patch,
      &-table {
        width: 100%;
      }

      &-header {
        width: 100%;
        box-sizing: border-box;
      }

      &-table-footer {
        width: 100%;
        box-sizing: border-box;
        height: 2rem;
      }
    }

    .messaging_messages-container {
      margin: 0;
    }

    .messaging__avatar {
      right: 7.6rem;
    }

    .messaging__incoming-message-container {
      width: 90%;
      background-size: 100% 2.7rem;

      .messaging__incoming-message {
        width:100%;
      }
    }

    .messaging__form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .messaging__new-message-container {
        width: 85%;

        .messaging__new-message {
          width: 88%;
        }
      }
    }
  }
}


