.page__wrapper {
  max-width: 29.167rem;
  min-width: 13.333rem;
  margin: 0 auto;
  text-align: left;
  padding-top: 3.5rem;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;


  &__buttons {
    width: 100%;

    &-container {
      padding-top: 2.3rem;
      width: 65%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0.5rem auto 1.5rem auto;

      @media screen and (max-width: 400px) {
        flex-direction: column;
        align-items: center;

        .button__item_size_small,
        .button__item_size_big {
          margin: 0;
          margin-bottom: 0.7rem;
        }
      }
    }
  }

  &__arrows {
    margin: auto auto 1.85rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-top: 1.4rem;
      width: 100%;

      @media (min-width: 320px) and (max-width: 450px) {
        width: 90%;
        margin-left: 10%;
      }

      @media screen and (max-width: 320px) {
        width: 90%;
        justify-content: center;
      }
    }

    &-standard,
    &-pressed,
    &-hovered {
      margin: 0 0.5rem 0 0.47rem;
    }
  }

  &__percents-pie {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
      padding-top: 1.2rem;
      width: 83%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: relative;
      margin-bottom: 4.1rem;

      @media screen and (max-width: 720px) {
        margin-bottom: 0;
        position: static;
      }
    }

    &-percents-0 {
      position: absolute;
      top: 0.89rem;
      left: -0.62rem;

      @media screen and (max-width: 720px) {
        position: static;
      }
    }

    .page__percents-pie-percents-38 {
      position: absolute;
      top: 0.89rem;
      left: 4rem;

      @media screen and (max-width: 720px) {
        position: static;
      }
    }

    .page__percents-pie-percents-62 {
      position: absolute;
      top: 0.89rem;
      left: 9.5rem;

      @media screen and (max-width: 720px) {
        position: static;
      }
    }

    .page__percents-pie-percents-89 {
      position: absolute;
      top: 0.89rem;
      left: 15rem;

      @media screen and (max-width: 720px) {
        position: static;
      }
    }

    .page__percents-pie-pie {
      position: absolute;
      top: 0.89rem;
      left: 20.3rem;

      @media screen and (max-width: 720px) {
        position: static;
      }
    }
  }

  &__sliders {
    width: 85%;

    &-headline {
      margin: auto;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1.9rem auto 2.6rem auto;
      width: 100%;
      flex-wrap: wrap;
    }

    &-slider-wrapper {
      width: 43%;
    }

    &-step-slider-wrapper {
      width: 43%;
    }
  }

  &__stages {
    width: 100%;

    &-headline {
      margin: auto;
    }

    &-content {
      width: 80%;
      margin: 1.53rem auto 2.8rem auto;
    }
  }


  &__form-tick-boxes-toggle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2rem;

    &-headline {
      margin: auto;
    }

    &-form {
      width: 56%;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: flex-start;
      width: 80%;
      margin-bottom: 2.6rem;
      position: relative;
    }

    &-tick-boxes-toggle {
      margin-top: 2rem;
    }

    &-toggle-container {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      margin-bottom: 1.7rem;
    }

    &-toggle {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }

    &-tick-boxes-headline {
      white-space: nowrap;
    }

    &-tick-boxes-container {
      display: flex;
      flex-direction: row;
      margin: 1.2rem auto 1rem;
      width: 70%;
      justify-content: flex-end;
    }
  }

  &__search-drop-down-user-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.7rem;
    width: 85%;
  }

  &__search-drop-down-container {
    width: 48%;
  }

  &__search-drop-down {
    &-search-headline {
      margin: auto;
      width: 100%;
    }

    &-search {
      margin: 0.75rem auto auto auto;
      width: 100%;

      &-false,
      &-true {
        margin-bottom: 0.6rem;
        width: 100%;
      }
    }

    &-drop-down {
      margin: 0.803rem 0 4.5rem 0;
      width: 100%;
    }
  }

  &__user-profile {
    width: 45%;

    &__headline {
      margin-left: 2rem;
    }

    &-users-container {
      margin-top: 1.3rem;
    }
  }

  &__user {
    margin-bottom: 1.042rem;
  }

  &__news-events {
    width: 85%;

    &-headline {
      margin: auto;
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1.5rem 0 1.9rem 0;

      @media screen and (max-width: 720px) {
        flex-wrap: wrap;
      }
    }
  }

  &__location {
    width: 85%;

    &-headline {
      margin: auto;
      margin-bottom: 1rem;
    }

    &-map {
      width: 100%;
    }
  }

  &__calendar-messaging {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0.6rem;
    margin-top: 2.2rem;
  }

  &__calendar-wrapper {
    margin-right: 1.2rem;
  }

  &__messaging {
    margin-top: 1rem;
  }

  &__calendar {
    margin: 1rem auto auto 0;
  }

  &__video {
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &-headline {
      margin: auto;
    }

    &-player {
      width: 100%;
      height: 100%;
      margin: 0.8rem 0 1.25rem 0;
      display: flex;
      justify-content: center;
    }
  }

  &__navigation {
    margin-bottom: 10%;

    &-headline {
      margin: auto;
    }

    @media screen and (max-width: 450px) {
      &-headline {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 615px) {
  .page {
    &__form-tick-boxes-toggle {
      padding: 0;

      &-container {
        width: 90%;
        flex-direction: column;
        align-items: center;
        align-self: center;
      }

      &-form {
        width: 100%;
      }

      &-tick-boxes-toggle {
        align-self: center;
        position: relative;
        width: 90%;
        height: 4rem;

        .page__form-tick-boxes-toggle-toggle-container,
        .page__form-tick-boxes-toggle-tick-boxes-headline,
        .page__form-tick-boxes-toggle-tick-boxes-container {
          margin: 0;
        }

        .page__form-tick-boxes-toggle-tick-boxes-headline {
          position: absolute;
          right: 0;
          top: 0;
          margin-bottom: 3rem;
        }

        .page__form-tick-boxes-toggle-tick-boxes-container {
          position: absolute;
          bottom: 0;
          right: 0.5rem;
        }

        .page__form-tick-boxes-toggle-toggle-headline {
          position: absolute;
          left: 1.3rem;
          margin-bottom: 3rem;
        }

        .page__form-tick-boxes-toggle-toggle-container {
          position: absolute;
          bottom: 0;
        }
      }
    }

    &__search-drop-down-user-profile-container {
      flex-direction: column;
    }

    &__search-drop-down {
      &-drop-down {
        margin-bottom: 2rem;
      }
    }

    &__search-drop-down-container {
      width: 100%;
    }

    &__user-profile {
      width: 100%;
    }
  }
}


@media screen and (max-width: 720px) {
  .page__news,
  .page__events {
    margin: 0;
    margin-bottom: 0.7rem;
    width: 100%;
  }

  .page__calendar-messaging {
    flex-wrap: wrap;
    width: 90%;
  }

  .page__calendar-wrapper,
  .page__messaging-wrapper {
    width: 90%;
    margin-right: 0;
  }

  .page__video {
    width: 90%;
    height: 40%;

    &-player {
      width: 100%;
    }
  }

  .page__buttons {
    width: 80%;
  }

  .page__percents-pie {
    width: 70%;

    &-container {
      justify-content: center;
    }
  }

  .page__sliders {
    width: 100%;

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 1.7rem auto 2.6rem auto;
      width: 100%;
      flex-wrap: wrap;
    }

    &-slider-wrapper {
      margin-bottom: 2rem;
    }

    &-step-slider-wrapper,
    &-slider-wrapper {
      width: 80.65%;
    }
  }
}

