.news {
  width: 11.875rem;
  height: 8.833rem;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1.9rem;

  &__content-container {
    display: flex;
    flex-direction: column;
    background: #e75735;
    border-radius: 0 0.125rem 0.125rem 0;
  }

  &__title-container {
    font-weight: lighter;
    color: #ffffff;
    font-size: 1.167rem;
    margin-left: 1rem;
    margin-block-start: 0.833rem;
    margin-block-end: 0.625rem;
    line-height: 1.083rem;
  }

  &__title {
    margin-block-start: 0;
    margin-block-end: 0;  
  }
  
  &__date-container {
    font-weight: normal;
    color: #ffffff;
    font-size: 0.458rem;
    letter-spacing: 0.023rem;
    margin-left: 1rem;
    margin-top: -0.083rem;
  }

  &__date {
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;  
  }

  &__text-container {
    font-weight: lighter;
    color: #ffffff;
    font-size: 0.458rem;
    margin-left: 1rem;
    padding-right: 0.917rem;
    letter-spacing: 0.023rem;
  }
}