.news {
  width: 11.875rem;
  height: 8.833rem;
  display: flex;
  flex-direction: row;

  &__content-container {
    display: flex;
    flex-direction: column;
    background: #e75735;
  }

  &__title {
    font-weight: lighter;
    color: #ffffff;
    font-size: 1.167rem;
    margin: 0.833rem 0 0.625rem 1rem;
    line-height: 1.083rem;
  }

  &__date {
    font-weight: normal;
    color: #ffffff;
    font-size: 0.458rem;
    letter-spacing: 0.023rem;
    margin-left: 1rem;
    line-height: 0.5rem;
    text-transform: uppercase;
  }

  &__text {
    font-weight: lighter;
    color: #ffffff;
    font-size: 0.458rem;
    margin: 0.5rem 0 0 1rem;
    padding-right: 0.317rem;
    letter-spacing: 0.023rem;
  }
}