include ../toggles/toggles.pug

mixin form-second-page(options={toggleContent:""})
    -let {toggleContent} = options;
    .form-second-page
        p#form-second-page__completeform 
            .form-second-page__job-title-container 
                input(type="text", id="form-second-page__job-title-input", placeholder="Job title", class="form-second-page__job-title-input")
                #form-second-page__job-title-message
        p#form-second-page__job-title-error-message 
            .form-second-page__facebook-container
                input(type="text", id="form-second-page__facebook-input", placeholder="Facebook link", class="form-second-page__facebook-input")
                #form-second-page__facebook-message
        p#form-second-page__facebook-error-message 
            .form-second-page__twitter-container
                input(type="text", id="form-second-page__twitter-input", placeholder="Twitter link", class="form-second-page__twitter-input")
                #form-second-page__twitter-message
        p#form-second-page__twitter-error-message 
            .form-second-page__dribbble-container
                input(type="text", id="form-second-page__dribbble-input", placeholder="Dribbble link", class="form-second-page__dribbble-input")
                #form-second-page__dribbble-message
        p#form-second-page__dribbble-error-message 
        .form-second-page__toggle
            +toggles
            .form-second-page__toggle-content= toggleContent
        .form-second-page__submit-container
            button(id="form-second-page__submit-button", class="form-second-page__submit-button") submit