.header-interior {
  height: 3.125rem;
  background: white;
  border: 0.042rem solid black;
  font-size: 0.75rem;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.15rem;
  }

  &__logo {
    color: black;
    font-size: 1.65rem;
    margin-left: 1rem;
    line-height: 3.3rem;
  }
  &__contacts {
    font-size: 0.5rem;
    width: 8.333rem;
    margin-top: 0.625rem;
  }

  &__tel {
    font-size: 1rem;
  }

  &__bottom {
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.042rem solid black;
    border-top: none;
    margin-right: auto;
    font-size: 0.7rem;
  }

  &__main-page {
    width: 20%;
    text-align: center;
    padding: 0 0.417rem 0 0.417rem;
    line-height: 1.3rem;
    border-right: 0.042rem solid black;
  }

  &__main-page-link {
    border: none;
    color: black;
    text-decoration: none;
    line-height: 1.5rem;
  }

  &__photo {
    text-align: center;
    padding: 0 0.417rem 0 0.417rem;
    line-height: 1.25rem;
    width: 20%;
    border-right: 0.042rem solid black;
  }

  &__photo-link {
    border: none;
    color: black;
    text-decoration: none;
    line-height: 1.5rem;
  }

  &__about-us {
    text-align: center;
    padding: 0 0.417rem 0 0.417rem;
    line-height: 1.25rem;
    width: 20%;
    border-right: 0.042rem solid black;
  }

  &__about-us-link {
    border: none;
    color: black;
    text-decoration: none;
    line-height: 1.5rem;
  }

  &__feedback {
    text-align: center;
    padding: 0 0.417rem 0 0.417rem;
    line-height: 1.24rem;
    width: 20%;
    border-right: 0.042rem solid black;
  }

  &__feedback-link {
    border: none;
    color: black;
    text-decoration: none;
    line-height: 1.5rem;
  }

  &__regisration {
    text-align: center;
    padding: 0 0.417rem 0 0.417rem;
    line-height: 1.25rem;
    width: 20%;
  }

  &__regisration-link {
    border: none;
    color: black;
    text-decoration: none;
    line-height: 1.5rem;
  }
}