mixin header-interior(options={source:""})
    - let {source} = options;
    .header-interior
        .header-interior__top
            .header-interior__logo ARK-Play
            .header-interior__contacts
                .header-interior__time Ежедневно с 9.00 до 22.00
                .header-interior__phone-number +79263864674
        .header-interior__bottom
            .header-interior__main-page
                a.header-interior__main-page-link(href="/mock-address/change-me") Главная
            .header-interior__photo
                a.header-interior__photo-link(href="/mock-address/change-me") Фото Работ
            .header-interior__about-us
                a.header-interior__about-us-link(href="/mock-address/change-me") О Нас
            .header-interior__feedback
                a.header-interior__feedback-link(href="/mock-address/change-me") Отзывы
            .header-interior__regisration
                a.header-interior__regisration-link(href="/mock-address/change-me") Регистрация