.page-social-network {

  &__content-container {
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__footer-social-network {
    bottom: 0;
    height: 1.25rem;
    background: #53b6a8;
  }
}