.page-social-network {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;

  &__content {
    flex: 1 0 auto;
  }

  &__main-content {
    display: flex;

    @media screen and (max-width:760px){
      flex-direction: column;
    }
  }

  &__navigation {
    margin: 5% auto 5% auto;
  }

  &__footer-social-network {
    height: 3rem;
    background: #53b6a8;
  }

  &__profile{
    width:65%;

    @media screen and (max-width:760px){
      width:100%;
    }
  }

  &__right-side{
    width:35%;

    @media screen and (max-width:760px){
      width:100%;
      margin-top: 0.5rem;
    }
  }

  .news{
    &__text{
      margin:0;
    }
  }

  .events{
    &__date-container,
    &__text-container{
      margin: 0 auto;
    }

    &__title-container{
      margin:.5rem auto 0;
    }

    &__button-container{
      margin:.8rem auto;
    }

    &__date-month{
      margin-left: 0.1rem;
    }
  }
  .calendar {
    width: 100%;
  }

  .calendar__item{
    width: 100%;

    &-upper-header,
    &-patch,
    &-table {
      width: 100%;
    }

    &-header {
      width: 100%;
      box-sizing: border-box;
    }

    &-table-footer {
      width: 100%;
      box-sizing: border-box;
      height: 2rem;
    }
  }

  .pie{
    &__image{
      width:6rem;
      height:6rem;
    }
  }
}
