include ../header-social-network/header-social-network
include ../profile/profile
include ../right-side/right-side
include ../news/news
include ../events/events
include ../navigation/navigation

mixin page-social-network
    main.page-social-network
        .page-social-network__header
            +header-social-network({
              source: "src/blocks/header-social-network/images/user.png",
              name: "Sarah Brown"
            })
        .page-social-network__content
            .page-social-network__main-content
                +profile({
                  headline: "my profile",
                  rightSideHeader: "Sarah Brown",
                  profession: "Actress",
                  phone: "+79263864674",
                  twitter: "twitter",
                  facebook: "facebook",
                  horror: "Horror",
                  thriller: "Thriller",
                  drama: "Drama",
                  comedy: "Comedy"
                })
                +right-side({
                  profile: "Profile",
                  feedback: "Feedback",
                  newsAndEvents: "News and Events"
                })
        .page-social-network__navigation
            +navigation({
              socialNetwork: "social-network",
              job: "job",
              interior: "interior",
              rentAuto: "rent-auto"
            })
        .page-social-network__footer-social-network