.page-social-network {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__content {
    flex: 1 0 auto;
  }

  &__main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media screen and (max-width: 720px) {
      flex-wrap: wrap;
    }
  }

  &__profile {
    @media screen and (max-width: 720px) {
      width: 100%;
      margin: auto;
    }
  }

  &__right-side {
    @media screen and (max-width: 720px) {
      width: 100%;
      margin: auto;
    }
  }

  &__navigation {
    margin-bottom: 5%;
  }

  &__footer-social-network {
    flex: 0 0 auto;
    height: 3rem;
    background: #53b6a8;
  }
}