.messaging {

  &_wrapper {
    width: 12rem;
    margin-top: 1rem;
    margin-left: 1.15rem;
  }
  
  &__name-container {
    height: 3.375rem;
    font: lighter 1.417rem $thirdFont;
    color: #ffffff;
    background: #4eb7a8;
    letter-spacing: -0.042rem;
    text-align: center;
    line-height: 3.1rem;
    border-radius: 0.125rem 0.125rem 0 0;
  }

  &__dark-block {
    background: #46ab9d;
    height: 1.417rem;
  }

  &__avatar-container {
    height: 3.917rem;
    width: 3.9017rem;
    background: #e5e5e5;
    border-radius: 50%;
    margin-left: 4.042rem;
    margin-top: -1.958rem;
  }

  &__dark-container {
    width: 12rem;
    margin-top: -1.958rem;
    height: 13.5rem;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
  }

  &__icons  {
    width: 10rem;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 0 auto;
  }

  &__chat-icon {
    width: 1.25rem;
    background: url('./images/chat-icon.png') 0.12rem 1rem no-repeat;
  }

  &__camera-icon {
    width: 1.25rem;
    background: url('./images/camera-icon.png') 0.12rem 1rem no-repeat;
  }

  &__first-message-container {
    margin: 0 auto 0 auto;
    width: 10.917rem;
    height: 3.833rem;
    color: #868686;
    font-weight: lighter;
    font-size: 0.542rem;
    letter-spacing: 0.026rem;
    background: url('./images/background.png') 0.292rem 0 no-repeat;
  }

  &__second-message-container{
    margin: 0rem auto 0 auto;
    width: 10.2rem;
    height: 4rem;
    background: #ffffff;
    border-radius: 0.208rem;
    margin-bottom: 0.25rem;
  }

  &__first-message {
    font-weight: bold;
    margin: 0.083rem 0 0 0.4rem;
    width: 8.2rem;
    height: 1.7rem;
    font-size: 0.55rem;
    letter-spacing: 0.026rem;
    border-radius: 0.208rem;
    padding: 0.833rem 1rem 0 0.75rem;
  } 
  
  &__second-message {
    font-weight: bold;
    margin: 0.083rem auto 0 auto;
    width: 9.3rem;
    height: 3.15rem;
    font-size: 0.542rem;
    letter-spacing: 0.026rem;
    background: #e5e5e5;
    border-radius: 0.208rem;
    padding: 0.7rem 0 0 0.7rem;
  }

  .ripple {
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
  }

  @keyframes ripple {
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }

  &__button {
    border: 0.042rem solid #4eb7a8;
    text-align: center;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    font-size: 0.517rem;
    border-radius: 0.208rem;
    box-shadow: 0 -0.083rem rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    width: 10.2rem;
    height: 1.45rem;
    margin-left: 0.88rem;
    text-transform: uppercase;
  }

  &__button:hover {
    background: #4eb7a8;
    color: #ffffff;
  }

  &__button:active,
  &__button:focus {
    outline: none;
    box-shadow: none;
  }

  &__button:visited {
    outline: none;
  }
}
