.messaging {
  width: 100%;
  position: relative;

  &__header {
    background: linear-gradient(to bottom, #4eb7a8 3.375rem, #46ab9d 1.417rem);
  }

  &__name {
    height: 4.792rem;
    font: lighter 1.417rem $sansPro;
    color: #ffffff;
    letter-spacing: -0.042rem;
    text-align: center;
    line-height: 3.1rem;
    border-radius: 0.125rem 0.125rem 0 0;
  }

  &__avatar {
    height: 3.9017rem;
    width: 3.9017rem;
    background: #e5e5e5;
    border-radius: 50%;
    position: absolute;
    top: 2.95rem;
    left: calc(50% - 1.96rem);
    z-index: 3;
  }

  &__messages-container {
    width: 100%;
    height: 13.5rem;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
  }

  &__icons {
    width: 10rem;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 0 auto;
  }

  &__chat-icon {
    width: 1.25rem;
    background: url('./images/chat-icon.png') 0.12rem 1rem no-repeat;
  }

  &__camera-icon {
    width: 1.25rem;
    background: url('./images/camera-icon.png') 0.12rem 1rem no-repeat;
  }

  &__incoming-message-container {
    margin: 0 auto 0 auto;
    width: 10.917rem;
    height: 3.833rem;
    color: #868686;
    font-weight: lighter;
    font-size: 0.542rem;
    letter-spacing: 0.026rem;
    background: url('./images/background.png') 0.292rem 0 no-repeat;
  }

  &__incoming-message {
    font-weight: bold;
    margin: 0.083rem 0 0 0.4rem;
    width: 8.2rem;
    height: 1.7rem;
    font-size: 0.55rem;
    letter-spacing: 0.026rem;
    border-radius: 0.208rem;
    padding: 0.833rem 2rem 0 0.75rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &__new-message-container {
    margin: 0 auto 0.25rem auto;
    width: 10.2rem;
    height: 4rem;
    background: #ffffff;
    border-radius: 0.208rem;
  }

  &__new-message {
    font-weight: bold;
    margin: 0.2rem;
    width: 8.4rem;
    height: 2.2rem;
    font-size: 0.542rem;
    letter-spacing: 0.026rem;
    background: #e5e5e5;
    border-radius: 0.208rem;
    padding: 0.7rem;
    outline: none;
    border: 0;
    resize: none;

    &:active,
    &:focus {
      outline: none;
      border: 0;
    }
  }

  &__button-container {
    margin-left: 0.3rem;
  }
}
