.messaging {
  width: 12rem;
  margin-right: 0.8rem;
  
  &__name-container {
    height: 3.375rem;
    font-family: $thirdFont;
    font-size: 1.417rem;
    color: #ffffff;
    background: #4eb7a8;
    letter-spacing: -0.042rem;
    font-weight: lighter;
    text-align: center;
    line-height: 3.542rem;
    border-radius: 0.125rem 0.125rem 0 0;
  }

  &__dark-block {
    background: #46ab9d;
    height: 1.417rem;
  }

  &__avatar-container {
    height: 3.917rem;
    width: 3.9017rem;
    background: #e5e5e5;
    border-radius: 50%;
    margin-left: 4.042rem;
    margin-top: -1.958rem;
  }

  &__dark-container {
    width: 12rem;
    margin-top: -1.958rem;
    height: 12.083rem;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
  }

  &__icons  {
    margin-top: 0.583rem;
    width: 10rem;
    height: 1.083rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  &__chat-icon {
    width: 1.25rem;
    background-image: url('./images/chat-icon.png');
    background-repeat: no-repeat;
    background-position: 0.208rem 0.208rem;
  }

  &__camera-icon {
    width: 1.25rem;
    background-image: url('./images/camera-icon.png');
    background-repeat: no-repeat;
    background-position: 0.208rem 0.208rem;
  }

  &__first-message-container {
    margin-top: 0.625rem;
    width: 8.917rem;
    height: 2.833rem;
    margin-left: auto;
    margin-right: auto;
    color: #868686;
    font-weight: lighter;
    font-size: 0.542rem;
    letter-spacing: 0.026rem;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-position: 0.292rem 0;  
    padding-left: 1.042rem;
    padding-top: 0.333rem; 
  }

  &__second-message-container{
    margin-top: 0.542rem;
    width: 9.667rem;
    margin-left: 1.333rem;
    height: 3.417rem;
    background: #ffffff;
    border-radius: 0.208rem;
    margin-bottom: 1.25rem;
  }

  &__first-message {
    font-weight: lighter;
    margin-left: -0.6rem;
    margin-top: 0.083rem;
    width: 8.667rem;
    height: 2.3rem;
    font-size: 0.542rem;
    letter-spacing: 0.026rem;
    background: #e5e5e5;
    border-radius: 0.208rem;
    padding-left: 0.75rem;
    padding-top: 0.333rem;
    display: inline-block;
  } 
  
  &__second-message {
    font-weight: lighter;
    margin-left: 0.125rem;
    margin-top: 0.083rem;
    width: 8.667rem;
    height: 2.9rem;
    font-size: 0.542rem;
    letter-spacing: 0.026rem;
    background: #e5e5e5;
    border-radius: 0.208rem;
    padding-left: 0.75rem;
    padding-top: 0.333rem;
    display: inline-block;
  }

  .ripple {
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
  }

  @keyframes ripple {
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }

  &__button {
    border: 0.042rem solid #4eb7a8;
    text-align: center;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    font-size: 0.417rem;
    border-radius: 0.208rem;
    box-shadow: 0 -0.083rem rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    width: 9.667rem;
    height: 1.333rem;
    margin-left: 1.375rem;
    margin-top: -0.667rem;
    text-transform: uppercase;
  }

  &__button:hover {
    background: #4eb7a8;
    color: #ffffff;
  }

  &__button:active,
  &__button:focus {
    outline: none;
    box-shadow: none;
  }

  &__button:visited {
    outline: none;
  }
}
