@font-face {
    font-family: 'Lato-Black';
   	src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot') format('embedded-opentype'),
    	 url('../fonts/Lato-Black.woff') format('woff'),
   	     url('../fonts/Lato-Black.ttf') format('truetype'),
   	     url('../fonts/Lato-Black.svg') format('svg');
}
