include ../toggle/toggle.pug
include ../button/button.pug
include ../tooltips/form-tolltip/form-tooltip

mixin form-job(options = {toggleContent: ""})
    -let {toggleContent} = options;
    .form-job.js-form-job
        .form-job__completeform
        .form-job__job-title-container
            input.form-job__job-title-input(type="text", placeholder="Job title")
            +form-tooltip({
              name: 'form-job__job-title-input-message'
            })
        .form-job__job-title-error-message
        .form-job__facebook-container
            input.form-job__facebook-input(type="text", placeholder="Facebook link")
            +form-tooltip({
              name: 'form-job__facebook-input-message'
            })
        .form-job__facebook-error-message
        .form-job__twitter-container
            input.form-job__twitter-input(type="text", placeholder="Twitter link", )
            +form-tooltip({
              name: 'form-job__twitter-input-message'
            })
        .form-job__twitter-error-message
        .form-job__dribbble-container
            input.form-job__dribbble-input(type="text", placeholder="Dribbble link", )
            +form-tooltip({
              name: 'form-job__dribbble-input-message'
            })
        .form-job__dribbble-error-message
        .form-job__toggle
            +toggle({
                id: "1"
            })
            .form-job__toggle-content= toggleContent
        .form-job__submit-container
            +button({
                size: `submit`,
                color: `green`,
                name: `js-ripple`,
                title: `submit`,
                addClassName: 'form-job__submit-button'
            })