include ../header-gamma/header-gamma.pug
include ../percents/percents.pug
include ../calendar/calendar.pug
include ../form-gamma/form-gamma.pug
include ../navigation/navigation.pug
include ../location/location.pug

mixin page-gamma
    main.page-gamma
        .page-gamma-wrapper
            .header-gamma
                +header-gamma({
                    source: "images/logo-3.png"
                })
            .content
                .diagramm-container
                    .first-diagramm-container
                        .first-diagramm
                            +percents({
                                percent: 0,
                            })
                        .first-diagramm__content Просроченных проектов.
                    .second-diagramm-container
                        .second-diagramm
                            +percents({
                                percent: 25,
                            })
                        .second-diagramm__content Проектов, выполненных досрочно.
                    .third-diagramm-container
                        .third-diagramm
                            +percents({
                                percent: 35
                            })
                        .third-diagramm__content Нестарндарных проектов.
                    .fourth-diagramm-container
                        .fourth-diagramm
                            +percents ({
                                percent: 87
                            })
                        .fourth-diagramm__content Довольных клиентов.
                .feedback
                    .feedback__headline Оставить отзыв
                    .feedback__container
                        .feedback__calendar-container
                            .feedback__calendar-headline Выбрать день публикации
                            .feedback__calendar
                                +calendar
                        .feedback__form
                            +form-gamma
                .navigation
                    +navigation({
                        alfa: "alfa", 
                        betta: "betta", 
                        gamma: "gamma", 
                        sigma: "sigma"
                    })
            .footer-gamma
                +location({ 
                    title: "Meet us!", 
                    address: "1259  California St san Francisco, CA"
                })