mixin header-third-page(options={source:""})
    - let {source} = options;
    .header-third-page
        .header-third-page__first-line
            .header-third-page__logo
                img.header-third-page_logo-image(src= source, alt="Logo", hspace="10", vspace="5")  
            .header-third-page__contacts
                .header-third-page__time Ежедневно с 9.00 до 22.00
                .header-third-page__tel +79263864674
        .header-third-page__second-line
            .header-third-page__glavnaya
                a.header-third-page__glavnaya-link(href="/mock-address/change-me") Главная
            .header-third-page__photo-rabot
                a.header-third-page__photo_rabot-link(href="/mock-address/change-me") Фото Работ
            .header-third-page__o-nas
                a.header-third-page__o-nas-link(href="/mock-address/change-me") О Нас
            .header-third-page__otzivi
                a.header-third-page__otzivi-link(href="/mock-address/change-me") Отзывы
            .header-third-page__regisration
                a.header-third-page__regisration-link(href="/mock-address/change-me") Регистрация