include ../header-rent-auto/header-rent-auto
include ../slider/slider
include ../form-rent-auto/form-rent-auto
include ../calendar/calendar
include ../navigation/navigation
include ../footer-rent-auto/footer-rent-auto
include ../tick-boxes/tick-boxes
include ../button/button
include ../drop-down/drop-down

mixin page-rent-auto
    main.page-rent-auto
        .page-rent-auto__header
            +header-rent-auto({
                mainPage: "Главная",
                catalogue: "Каталог",
                aboutUs: "О нас"
            })
        .page-rent-auto__content
            .page-rent-auto__left-side
                .page-rent-auto__drop-down-box-header Коробка передач:
                .page-rent-auto__drop-down
                    +drop-down ({
                        contentContainer: [
                            {content: 'Механика'},
                            {content: 'Автомат'},
                        ]
                    })
                .page-rent-auto__drop-down-place-header Место оформления аренды:
                .page-rent-auto__drop-down
                    +drop-down ({
                        contentContainer: [
                            {content: 'В офисе'},
                            {content: 'Ваш адрес (по телефону)'},
                        ]
                    })
                .page-rent-auto__slider
                    +slider({
                        min: 0,
                        max: 100,
                        step: 1,
                        value: 40,
                        label: 'true',
                        dial: 'false',
                        color: 'orange',
                    })
                .page-rent-auto__add
                    .page-rent-auto__add-headline Добавить в машину:
                    .page-rent-auto__add-chair-container
                        .page-rent-auto__add-tick-box
                            +tick-boxes({
                                id: "1"
                            })
                        .page-rent-auto__add-chair Детское кресло
                    .page-rent-auto__add-navigator-container
                        .page-rent-auto__add-tick-box
                            +tick-boxes({
                                id: "2"
                            })
                        .page-rent-auto__add-navigator Навигатор
                    .page-rent-auto__add-refrigerator-container
                        .page-rent-auto__add-tick-box
                            +tick-boxes({
                                id: "3"
                            })
                        .page-rent-auto__add-refrigerator Автохолодильник
                .page-rent-auto__form
                    +form-rent-auto
            .page-rent-auto__right-side
                .page-rent-auto__calendar
                    +calendar
                .page-rent-auto__submit
                    .page-rent-auto__js-form-rent-auto-completeform
                    .page-rent-auto__js-form-rent-auto-submit
                        +button({
                            size: `rent-auto-sumit-button`,
                            color: `orange`,
                            name: `js-ripple`,
                            title: `Отправить заявку`,
                            addClassName: 'js-form-rent-auto-submit'
                        })
        .page-rent-auto__navigation
            +navigation({
                socialNetwork: "social-network",
                job: "job",
                interior: "interior",
                rentAuto: "rent-auto"
            })
        .page-rent-auto__footer-rent-auto
            +footer-rent-auto({
                mainPage: "Главная",
                catalogue: "Каталог",
                contacts: "Контакты"
            })