include ../header-rent-auto/header-rent-auto.pug
include ../slider/slider
include ../form-rent-auto/form-rent-auto.pug
include ../calendar/calendar.pug
include ../navigation/navigation.pug
include ../footer-rent-auto/footer-rent-auto.pug
include ../tick-boxes/tick-boxes.pug

mixin page-rent-auto
   main.page-rent-auto
        .page-rent-auto-wrapper
            .header-rent-auto
               +header-rent-auto({
                   glavnaya: "Главная", 
                   katalog: "Каталог", 
                   oNas: "О нас"
               })
            .content
                .left-side
                    .drop-down-korobka
                        .drop-down-korobka__header Коробка передач:
                        .drop-down-korobka__wrapper
                            .drop-down-korobka__contentline Не выбрано
                            button.drop-down-korobka__button
                        .drop-down-korobka__content-container
                            .drop-down-korobka__mechanic Механика
                            .drop-down-korobka__automat Автомат
                    .drop-down-place
                        .drop-down-place__header Место оформления аренды:
                        .drop-down-place__wrapper
                            .drop-down-place__contentline Не выбрано
                            button.drop-down-place__button
                        .drop-down-place__content-container
                            .drop-down-place__office В офисе
                            .drop-down-place__phone Ваш адрес (по телефону)
                    .slider
                        +slider({
                            min: 0,
                            max: 100,
                            step: 1,
                            value: 40,
                            label: 'true',
                            dial: 'false',
                            color: 'orange',
                        })
                    .add
                        .add__headline Добавить в машину:
                        .add__kreslo-container
                            .add__tick-box
                                +tick-boxes({
                                    id: "1"
                                })
                            .add__kreslo Детское кресло
                        .add__navigator-container
                            .add__tick-box
                                +tick-boxes({
                                    id: "2"
                                })
                            .add__navigator Навигатор
                        .add__holodilnik-container
                            .add__tick-box
                                +tick-boxes({
                                    id: "3"
                                })
                            .add__holodilnik Автохолодильник
                    .form
                        +form-rent-auto
                .right-side
                    .right-side__calendar
                        +calendar
                    .right-side__submit
                        .form-rent-auto-completeform
                        button.form-rent-auto-submit Отправить заявку
            .navigation
                    +navigation({
                        socialNetwork: "social-network",
                        job: "job",
                        interior: "interior",
                        rentAuto: "rent-auto"
                    })
            .footer-rent-auto
                +footer-rent-auto({
                     glavnaya: "Главная", 
                     katalog: "Каталог", 
                     contacts: "Контакты" 
                })