
.page-rent-auto {
  max-width: 29.167rem;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.25rem;
    color: black;
  }

  &__left-side {
    margin-top: 2rem;
  }

  &__drop-down-box {
    width: 10.417rem;
    margin-top: 2.667rem;
    margin-bottom: 3rem;

    &-header {
      font-size: 0.583rem;
    }
  }

  &__drop-down-place {
    width: 10.417rem;
    margin-top: 2.667rem;
    margin-bottom: 3rem;

    &-header {
      font-size: 0.583rem;
    }
  }

  &__slider {
    transform: translateX(-0.2rem) scale(0.98);

  }

  &__add {
    width: 10.417rem;
    font-size: 0.583rem;
    line-height: 0.958rem;
    margin-top: 0.417rem;

    &-tick-box {
      position: relative;
      z-index: 100;
    }

    &-chair-container {
      display: flex;
      flex-direction: row;
      margin-left: 0;
      position: relative;
      z-index: 0;
    }

    &-navigator-container {
      display: flex;
      flex-direction: row;
      margin-left: 0;
      position: relative;
      z-index: 0;
    }

    &-refrigerator-container {
      display: flex;
      flex-direction: row;
      position: relative;
      z-index: 0;
    }
  }

  &__calendar {
    transform: scale(0.95);
    margin-top: 2.8rem;
  }

  &__submit {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__form-rent-auto-completeform {
    color: red;
    font-size: 1rem;
    white-space: nowrap;
    margin-left: 0.9rem;
  }

  &__form-rent-auto-submit {
    position: absolute;
    top: 2rem;
    margin-left: 1.8rem;
  }
}
