mixin calendar
    .calendar__wrapper
        #calendar.calendar
            .calendar__upperheader
                span.calendar__day
            .calendar__header
                span.calendar__month
                button.calendar__btn.calendar__btn_prev
                button.calendar__btn.calendar__btn_next
            .calendar__patch

