mixin calendar(options={monthSize:"", dayNameSize:"", daySize:"", todaySize: ""})
    - let {monthSize, dayNameSize, daySize, todaySize} = options;
    .calendar
        .calendar__item.js-calendar__item(data-month-size = monthSize, data-day-name-size = dayNameSize, data-day-size = daySize, data-today-size = todaySize)
            .calendar__item-upper-header
                span.calendar__item-day
            .calendar__item-header
                span.calendar__item-month
                button.calendar__item-button.calendar__item-button-previous
                button.calendar__item-button.calendar__item-button-next
            .calendar__item-patch

