mixin calendar
    .calendar
        .calendar__item
            .calendar__item-upperheader
                span.calendar__item-day
            .calendar__item-header
                span.calendar__item-month
                button.calendar__item-button.calendar__item-button-previous
                button.calendar__item-button.calendar__item-button-next
            .calendar__item-patch

