mixin calendar
    .calendar
        .js-calendar__item
            .js-calendar__item-upperheader
                span.js-calendar__item-day
            .js-calendar__item-header
                span.js-calendar__item-month
                button.js-calendar__item-button.js-calendar__item-button-previous
                button.js-calendar__item-button.js-calendar__item-button-next
            .js-calendar__item-patch

