.content-container {
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-alfa {
  bottom: 0;
  height: 1.25rem;
  background: #53b6a8;
}