.step-slider__rs-range {
  margin-top: 1.667rem;
  width: 10.833rem;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }  
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.208rem;
    cursor: pointer;
    box-shadow: none;
    border-radius: 0.083rem;
    border: 0.083rem solid #e5e5e5;
  }
  &::-moz-range-track {
    width: 100%;
    height: 0.208rem;
    cursor: pointer;
    box-shadow: none;
    border-radius: 0;
    border: 0.083rem solid #e5e5e5;
  }
  &::-webkit-slider-thumb {
    box-shadow: none;
    border: 0 solid #ffffff;
    height: 0.875rem;
    width: 0.875rem;
    border-radius: 50%;
    background: #4eb7a8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.417rem;
  }
  &::-moz-range-thumb{
    box-shadow: none;
    border: 0 solid #ffffff;
    height: 0.875rem;
    width: 0.875rem;
    border-radius: 50%;
    background: #4eb7a8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.417rem;     
  }
  &::-moz-focus-outer {
    border: 0;
  }
}

.step-slider__text-block {
  font-family: $mainFont;
  font-size: 0.458rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.023rem;
  margin-left: 0.458rem;
  color: #d1d1d1;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

#step-slider_color {
  margin-top: -0.45rem;
  margin-left: 0.083rem;
  width: 7.583rem;
  height: 0.208rem;
  position: relative;
  background: #4eb7a8;
  z-index: 100;
  border-radius: 0.083rem;
}