mixin step-slider
    .step-slider
        input.step-slider__rs-range(id="step-slider__rs-range", type="range", value="75", min="0", max="100", step="25")
        #step-slider_color
        .step-slider__text-block
            span.step-slider__first-span 0
            span.step-slider__second-span 25
            span.step-slider__third-span 50
            span.step-slider__fourth-span 75
            span.step-slider__fifth-span 100