.toggles {
  width: 275px;
  margin-left: 41%;


  &__container {
    display: flex;
    justify-content: space-evenly;
    width: 134px;
    flex-direction: column;
    
    #toggles__toggl {
      background-color: #e5e5e5;
      color: #ffffff;
      border-radius: 15px;
      padding-left: 25px;
      position: relative;
      z-index: 0; 
      text-transform: uppercase;
      position: relative;
      font-size: 12px;
      font-weight: bol;
      line-height: 20px;
      letter-spacing: -0.3px;
      color: #ffffff;
      display: inline-block;
      border-radius: 15px;
      width: 60px;
      padding-top:3px;
      padding-left: 32px;
      height: 24px;
      box-sizing: border-box;
    }
    #toggles__toggl, 
    #toggles__toggl:active, 
    #toggles__toggl:focus {
      outline: none;
    }

    #toggles__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-top: -22px;
      z-index: 100;
      position: relative;
      margin-left: 2px;
      background: #ffffff;
    }
  }
}