mixin toggles
    .toggles
        .toggles__wrapper
            .toggles__container
                .toggles__toggl(name = "toggles__toggl") off
                .toggles__circle(name = "toggles__circle")