.side2
    .side2_wrapper
        img(src="img/pic2.png")
        .side2_wrapper__content
            .side2_wrapper__content-line1
                .number 24
                .month Aug
            .side2_wrapper__content-line2
                p THIS IS THE TITLE
            .side2_wrapper__content-line3
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            button(name="button", class="add_to_calendar") ADD  TO  CALENDAR
            
