.side2
    .side2-wrapper
        img(src="img/pic-2.png")
        .side2-wrapper__content
            .side2-wrapper__content-line1
                .number 24
                .month Aug
            .side2-wrapper__content-line2
                p THIS IS THE TITLE
            .side2-wrapper__content-line3
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            button(name="button", class="add-to-calendar") ADD  TO  CALENDAR
