include ../stages/stages.pug

mixin form-gamma
    .form-gamma
        .form-gamma__wrapper
            .form-gamma__name-container
                input.form-gamma__name-input(type="text", id="form-gamma__name-input", placeholder="Имя")
            .form-gamma__email-container
                input.form-gamma__email-input(type="text", id="form-gamma__email-input", placeholder="E-mail")
            .form-gamma__raiting-container
                .form-gamma__raiting Рейтинг
                +stages
            .form-gamma__message-container
                textarea.form-gamma__message-text(type="text", id="form-gamma__message-text", placeholder="Сообщение")
            .form-gamma__submit-container
                button.form-gamma__submit-button(name="button", id="form-gamma__submit-button") Отправить