include ../header-first-page/header-first-page.pug
include ../profile/profile.pug
include ../calendar/calendar.pug
include ../pie/pie.pug
include ../right-side/right-side.pug
include ../side-left/side-left.pug
include ../side-right/side-right.pug
include ../navigation/navigation.pug

mixin first-page
    main.first-page
        .first-page-wrapper
            .header
                +header-first-page({
                    source: "img/user.png",
                    name: "Sarah Brown"
                })
            .content-container
                +profile({
                    headline:"my profile", 
                    rightSideHeader:"Sarah Brown", 
                    profession: "Actress", 
                    phone: "+79263864674", 
                    twitter: "twitter", 
                    facebook: "facebook", 
                    firstSkill: "Horror", 
                    secondSkill: "Thriller", 
                    thirdSkill: "Drama", 
                    fourthSkill: "Comedy"
                })
                +right-side({
                    firstLink: "Profile",
                    secondLink: "Feedback",
                    thirdLink: "News and Events"
                })
            .navigation
                +navigation({
                    firstPage: "page1", 
                    secondPage: "page2", 
                    thirdPage: "page3", 
                    fouthPage: "page4"
                })
            .footer-first-page