.stages
    .stages_wrapper
        .stages_wrapper__headline
            p.stages__headline STAGES
        .stages_wrapper__stages-container
            .div
                div#div1
                div#div2
                div#div3
                div#div4
            .circle
                div
                    button#circle1 1
                div
                    button#circle2 2
                div
                    button#circle3 3
                div
                    button#circle4 4
                div
                    button#circle5 5
             
                //- div
                //-     input(type='button', id="circle1")
                //-         1
                //- //- div
                //-     input(type='button', id="circle1") 2
                //- div
                //-     input(type='button', id="circle1") 3
                //- div
                //-     input(type='button', id="circle1") 4
                //- div
                //-     input(type='button', id="circle1") 5