.stages
    {
        width: 100%;
        .stages_wrapper
        {
            width: 519px;
            .stages__headline
            {
                text-align: center;
                margin-bottom: 50px; 
            }
            .stages_wrapper__stages-container
            {
                display: flex;
                flex-direction:column;
                align-items:center;
                margin-bottom: 55px;
                width: 100%;
                .div
                {
                    display: flex;
                    flex-direction:row;
                    justify-content:space-between;
                    #div1, #div2, #div3, #div4
                    {
                        width: 146px;
                        height: 5px;
                        background: #e5e5e5;
                    }
                }
                .circle
                {
                    display: flex;
                    flex-direction:row;
                    justify-content:space-between;
                    width: 605px;
                    margin-top: -17px;
                
                button 
                {
                    font-family: $mainFont;
                    font-size: 14px;
                    line-height: 30px;
                    letter-spacing: 0.7px;
                    color: #ffffff;
                }

                    
                    #circle1, #circle2, #circle3, #circle4, #circle5,
                    {
                        width:29px;
                        height: 29px;
                        border-radius: 50%;
                        background: #e5e5e5;
                        border: 0px;
                    }

                    #circle1
                    {
                        background:#e75735; 
                    }

                    #circle2, #circle3, #circle4, #circle5
                    {
                        color:#888888;
                    }
                    #circle1:active, #circle1:focus, #circle2:active, #circle2:focus, #circle3:active, #circle3:focus, #circle4:active, #circle4:focus, #circle5:active, #circle5:focus, {
                        outline: none !important;
                        box-shadow: none;
                      }
                    #circle1:visited, #circle2:visited, #circle3:visited, #circle4:visited, #circle5:visited  {
                        outline: none !important;
                      }
                    #circle1::-moz-focus-inner, #circle2::-moz-focus-inner, #circle3::-moz-focus-inner, #circle4::-moz-focus-inner, #circle5::-moz-focus-inner {
                        border: 0 !important;
                      //  box-shadow: none;
                      }
                }

            }
        }
    }