.search {
  width: 100%;
  .search-wrapper {
    width: 100%;
    #search {
      width: 285px;
      color: #888888;
      font-family: $thirdFont;
      letter-spacing: 0.14px;
      padding-left: 10px;
      padding-bottom: 0;
      padding-top: 0;
      height: 28px;
      background-color: #e5e5e5;
      margin-top: -40px;
      border: 0;
      border-radius: 3px;
      position: relative;
      font-size: 14px;
    }
    #search_icon {
      width: 33px;
      height: 28px;
      border: 0;
      border-radius: 3px;
      background-color:#e75735;
      top: -28px;
      margin-left: 262px;
      position: relative;
      background-image: url('../img/search-icon.png');
      background-repeat: no-repeat;
      background-position: 10px 8px; 
    }
    #search_icon, 
    #search_icon:active, 
    #search_icon:focus {
      outline: none;
    }
    #search_icon:hover {
      background-color: #e75735;
    }
    #search_error {
      font-size: 14px;
      color: #ffffff;
      width: 285px;
      height: 21px;
      letter-spacing: 0.14px;
      font-family: $thirdFont;
      padding-left: 10px;
      padding-top: 5px;
      margin: 0;
      margin-top: -24px;
      border-radius: 3px;
    }
  }
}