@font-face {
    font-family: 'Lato';
   	src: url('lato-black.eot');
    src: url('lato-black.eot') format('embedded-opentype');
    src: url('lato-black.woff') format('woff');
	src: url('lato-black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Lato';
   	src: url('lato-light.eot');
    src: url('lato-light.eot') format('embedded-opentype');
	src: url('lato-light.woff') format('woff');
	src: url('lato-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
   	src: url('source-sans-pro-regular.eot');
    src: url('source-sans-pro-regular.eot') format('embedded-opentype');
	src: url('source-sans-pro-regular.woff') format('woff');
	src: url('source-sans-pro-regular.ttf') format('truetype');
}