.page-job {
  max-width: 27rem;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 0.833rem;
    color: #e4583d;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    margin-top: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__stages {
    margin: 1rem auto 2rem auto;
    width: 90%;
  }

  &__avatar {
    width: 5.833rem;
    height: 7.4rem;
    background-color: white;
    box-shadow: -0.083rem 0.083rem 0.542rem 0 rgba(0, 0, 0, 0.64);
    margin: 0 auto 0.417rem auto;
    display: flex;
    flex-direction: column;

    &-image {
      width: 5.833rem;
      height: 5.833rem;
      background: url('./images/user-large.png') 0.271rem 0.271rem no-repeat;
    }

    &-edit {
      width: 5.417rem;
      margin-left: 0.3rem;
    }
  }

  &__navigation {
    margin-bottom: 5%;
    align-self: center;
  }

  &__form {
    margin: auto;
  }
}


@media screen and (max-width: 500px) {
  .page-job {

    &__avatar {
      width: 9rem;
      height: 11.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      &-image {
        width: 100%;
        height: 8rem;
        background-position: center center;
        background-size: contain;
      }

      &-edit {
        width: 100%;

        .button__item {
          width: 96%;
          height: 1.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}





  

  
