include ../stages/stages
include ../form-job/form-job
include ../navigation/navigation
include ../button/button

mixin page-job
    main.page-job
        .page-job__header Apply for a job
        .page-job__content
            .page-job__stages
                +stages({
                  numberOfPoints: 5,
                  startPoint: 3
                })
            .page-job__avatar
                .page-job__avatar-image
                .page-job__avatar-edit
                    +button({
                        size: `avatar-edit-button`,
                        color: `green`,
                        name: `js-ripple`,
                        title: `edit`
                    })
            .page-job__form
                +form-job({
                    toggleContent: "Get information about current events."
                })
        .page-job__navigation
            +navigation({
                socialNetwork: "social-network",
                job: "job",
                interior: "interior",
                rentAuto: "rent-auto"
            })