
.page-job-wrapper {
  max-width: 21.167rem;
  margin:auto;

  .content {
    display: flex;
    flex-direction: column;
  }

  .form {
    margin: auto;
  }

  .navigation {
    margin-left: 2rem;
    width: 103%;
  }
}
  
.header-job {
  width: 12.5rem;
  font-size: 0.833rem;
  color: #e4583d;
  text-align: center;
  margin-left: 7rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
  
.stages {
  margin-bottom: 0.5rem;
}
  
.avatar {
  width: 5.833rem;
  height: 7.4rem;
  background-color: white;
  box-shadow: -0.083rem 0.083rem 0.542rem 0 rgba(0, 0, 0, 0.64);
  margin: 0 auto 0.417rem auto;
  display: flex;
  flex-direction: column;
  
  &__image {
    width: 5.833rem;
    height: 5.833rem;
    background: url('./images/user-large.png') 0.271rem 0.271rem no-repeat;
  }
  
  &__edit {
    width: 5.417rem;
    margin: auto;
  }
  
  .ripple {
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
  }
  
  @keyframes ripple {
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }
  
  &__edit-button {
    border: 0.042rem solid #4eb7a8;
    text-align: center;
    width: 5.25rem;
    height: 0.917rem;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    font-size: 0.417rem;
    border-radius: 0.125rem;
    box-shadow: 0 -0.083rem rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    margin: auto;
    text-transform: uppercase;

    &:hover {
      background: #4eb7a8;
      color: #ffffff;
    }
  }
  
  &__edit-button:active,
  &__edit-button:focus {
    outline: none;
    box-shadow: none;
  }
  
  &__edit-button:visited {
    outline: none;
  }
}