include ../stages/stages.pug
include ../form-job/form-job.pug
include ../navigation/navigation.pug

mixin page-job
    main.page-job
            .page-job-wrapper
                .header-job Apply for a job
                .content
                    .stages
                        +stages
                    .avatar
                        .avatar__image
                        .avatar__edit
                            button(name="button", class="avatar__edit-button") edit
                    .form
                        +form-job({
                            toggleContent: "Get information about current events."
                        })
                .navigation
                    +navigation({
                        socialNetwork: "social-network",
                        job: "job",
                        interior: "interior",
                        rentAuto: "rent-auto"
                    })