.page-job {
  max-width: 27rem;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 0.833rem;
    color: #e4583d;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    margin-top: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__stages {
    margin: 1rem auto 2rem auto;
    width: 90%;
  }

  &__avatar {
    width: 5.833rem;
    height: 7.4rem;
    background-color: white;
    box-shadow: -0.083rem 0.083rem 0.542rem 0 rgba(0, 0, 0, 0.64);
    margin: 0 auto 0.417rem auto;
    display: flex;
    flex-direction: column;

    &-image {
      width: 5.833rem;
      height: 5.833rem;
      background: url('./images/user-large.png') 0.271rem 0.271rem no-repeat;
    }

    &-edit {
      width: 5.417rem;
      margin-left: 0.3rem;
    }
  }

  &__navigation {
    margin-bottom: 5%;
    align-self: center;

    .navigation {
      justify-content: center;

      .button__item {
        margin: auto;
      }
    }
  }

  &__form {
    margin: auto;
  }
}


@media screen and (max-width: 500px) {
  .page-job {

    .form-job {
      //&__job-title-input,
      //&__facebook-input,
      //&__twitter-input,
      //&__dribbble-input {
      //  height: 100%;
      //  width: 100%;
      //  background: #53b6a8;
      //}
      //
      //&__job-title-container,
      //&__facebook-container,
      //&__twitter-container,
      //&__dribbble-container {
      //  height: 1.6rem;
      //  margin-left: 1.3rem;
      //}
      //
      //&__job-title-error-message,
      //&__facebook-error-message,
      //&__twitter-error-message,
      //&__dribbble-error-message {
      //  margin-left: 1.3rem;
      //  margin-bottom: 0.3rem;
      //}
      //
      //&__job-title-message,
      //&__facebook-message,
      //&__twitter-message,
      //&__dribbble-message {
      //  height: 100%;
      //  line-height: 1.6rem;
      //  background-size: 100% 90%;
      //  background-position: center center;
      //}

      &__completeform {
        margin: 0.6rem auto;
      }

      &__toggle {
        display: flex;
        flex-direction: column;
        align-items: center;

        .toggle {
          margin-bottom: 0.2rem;
        }
      }

      &__submit-container {
        .button {
          .form-job__submit-button {
            margin: 0;
            width: 6rem;
            height: 2.2rem;
            margin-bottom: 2rem;
            font-size: 0.8rem;
          }
        }
      }
    }

    &__avatar {
      width: 9rem;
      height: 11.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      &-image {
        width: 100%;
        height: 8rem;
        background-position: center center;
        background-size: contain;
      }

      &-edit {
        width: 100%;

        .button__item {
          width: 96%;
          height: 1.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}





  

  
