.search {

  &-container {
    display: flex;
    flex-direction: row;
  }
  #search {
    width: 11.875rem;
    color: #888888;
    font-family: $thirdFont;
    letter-spacing: 0.006rem;
    padding-left: 0.417rem;
    padding-bottom: 0;
    padding-top: 0;
    height: 1.167rem;
    background-color: #e5e5e5;
    border: 0;
    border-radius: 0.125rem;
    font-size: 0.583rem;
  }

  #search__icon {
    width: 1.375rem;
    height: 1.167rem;
    border: 0;
    border-radius: 0.125rem;
    background-color:#e75735;
    top: -1.167rem;
    margin-left: 10.917rem;
    background-image: url('./images/search-icon.png');
    background-repeat: no-repeat;
    position: relative;
    background-position: 0.412rem 0.333rem;
  }

  #search__icon, 
  #search__icon:active, 
  #search__icon:focus {
    outline: none;
  }

  #search__icon:hover {
    background-color: #e75735;
  }

  #search__error {
    font-size: 0.583rem;
    color: #ffffff;
    width: 11.875rem;
    letter-spacing: 0.006rem;
    font-family: $thirdFont;
    padding-left: 0.417rem;
    padding-top: 0.208rem;
    line-height: 0.9rem;
    border-radius: 0.125rem;
    margin-top: -0.5rem;
    margin-bottom: 0.4rem;
  }
}