.js-search {

  margin-bottom: 0.6rem;

  &__input-container {
    display: flex;
    flex-direction: row;
    width: 104%;
  }

  &__input {
    width: 10.1rem;
    color: #888888;
    font-family: normal 0.583rem $thirdFont;
    letter-spacing: 0.006rem;
    padding: 0 0 0 0.417rem;
    height: 1.167rem;
    background-color: #e5e5e5;
    border: 0;
    border-radius: 0.125rem 0 0 0.125rem;
    outline: none;

    &_error {
      color: #ffffff;
      line-height: 0.9rem;
      background-color: #e75735;
    }
  }

  &__icon {
    width: 1.375rem;
    height: 1.167rem;
    border: 0;
    border-radius: 0 0.125rem 0.125rem 0;
    background: #e75735 url('./images/search-icon.png') 0.412rem 0.333rem no-repeat;
    outline: none;

    &:active,
    &:focus {
      outline: none;
    }
  }
}