mixin stages(options = {numberOfPoints: "", startPoint:""})
    - let {numberOfPoints, startPoint } = options;
    .js-stages
        .js-stages__sections(data-number-of-points = numberOfPoints, data-start-point = startPoint)
        .js-stages__points