.stages {
  width: 21.625rem;
  display: flex;
  flex-direction:column;
  align-items:center;
  margin-bottom: 2.292rem;
  width: 27.083rem;
  margin-left: -1.458rem;
  margin-right: auto;

  &__div-wrapper {
    display: flex;
    flex-direction:row;
    justify-content:space-between;

    #stages__div-1, 
    #stages__div-2, 
    #stages__div-3, 
    #stages__div-4 {
      width: 6.083rem;
      height: 0.208rem;
      background: #e5e5e5;
    }
  }
  &__circles-wrapper {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    width: 25.208rem;
    margin-top: -0.708rem;

    #stages__circle-1,
    #stages__circle-2,
    #stages__circle-3,
    #stages__circle-4,
    #stages__circle-5 {
      width: 1.208rem;
      height: 1.208rem;
      border-radius: 50%;
      background: #e5e5e5;
      border: 0;
      font-family: $mainFont;
      font-size: 0.583rem;
      line-height: 1.25rem;
      letter-spacing: 0.7px;
      color: #ffffff;
    }

    #stages__circle-1 {
      background:#e75735; 
    }

    #stages__circle-2,
    #stages__circle-3,
    #stages__circle-4,
    #stages__circle-5 {
      color:#888888;
    }

    #stages__circle-1:active,
    #stages__circle-1:focus,
    #stages__circle-2:active,
    #stages__circle-2:focus,
    #stages__circle-3:active,
    #stages__circle-3:focus,
    #stages__circle-4:active,
    #stages__circle-4:focus,
    #stages__circle-5:active,
    #stages__circle-5:focus {
      outline: none;
      box-shadow: none;
    }

    #stages__circle-1:visited,
    #stages__circle-2:visited,
    #stages__circle-3:visited,
    #stages__circle-4:visited,
    #stages__circle-5:visited {
      outline: none;
    }

    #stages__circle-1::-moz-focus-inner,
    #stages__circle-2::-moz-focus-inner,
    #stages__circle-3::-moz-focus-inner,
    #stages__circle-4::-moz-focus-inner,
    #stages__circle-5::-moz-focus-inner {
      border: 0;
    }
  }
}