mixin stages(options = {numberOfPoints: "", startPoint:""})
    - let {numberOfPoints, startPoint } = options;
    .stages
        .stages__sections(data-number-of-points = numberOfPoints, data-start-point = startPoint)
        .stages__points