.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.8rem;
  position: relative;

  &__sections {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__section {
    height: 0.16rem;
    background: #e5e5e5;

    &_color {
      &_orange {
        background: #e75735;
      }
    }
  }

  &__points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 104%;
    position: absolute;
    top: -0.45rem;
    color: #8e8e8e;
  }

  &__point {
    border-radius: 50%;
    background: #e5e5e5;
    width: 1.15rem;
    height: 1.15rem;
    color: black;
    text-align: center;
    font-size: 0.621rem;
    line-height: 1.23rem;

    &_color {
      &_orange {
        background: #e75735;
        color: white;
      }
    }
  }
}