mixin stages
    .stages
        .stages__wrapper
            .stages__div-wrapper
                #stages__first-div
                #stages__second-div
                #stages__third-div
                #stages__fourth-div
            .stages__circles-wrapper
                .stages__first-circle
                    button#stages__first-circle 1
                .stages__second-circle
                    button#stages__second-circle 2
                .stages__third-circle
                    button#stages__third-circle 3
                .stages__fourth-circle
                    button#stages__fourth-circle 4
                .stages__fifth-circle
                    button#stages__fifth-circle 5