
.page3-wrapper {
    max-width: 29.167rem;
    color: black;
}
  
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2.083rem;
  justify-content: space-between;
  font-family: $mainFont;
  
  .diagramm-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.75rem;
  }
  
  .diagramm1-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
  }
  
  .diagramm1 {
    margin-top: 0.417rem;
  }
  
  .diagramm1__content {
    line-height: 4.792rem;
    margin-left: 0.625rem;
  }
  
  .diagramm2-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
  }
  
  .diagramm2 {
    margin-top: 0.417rem;
  }
  
  .diagramm2__content {
    margin-left: 0.625rem;
    margin-top: 1.667rem;
  }

  .diagramm3-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
    margin-top: 0.417rem;
  }
  
  .diagramm3 {
    margin-top: 0.417rem;
  }
  
  .diagramm3__content {
    line-height: 4.792rem;
    margin-left: 0.625rem;
  }
  
  .diagramm4-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
    margin-top: 0.417rem;
  }

  .diagramm4 {
    margin-top: 0.417rem;
  }
  
  .diagramm4__content {
    line-height: 4.792rem;
    margin-left: 0.625rem;
  }
    
  .feedback__headline {
    text-align: center;
    margin: auto;
    font-family: $mainFont;
    font-size: 0.833rem;
    margin-bottom: 0.417rem;
    margin-top: 0.833rem;
    font-size: 1rem;
  }
  
  .feedback__container {
    display: flex;
    flex-direction: row;
    width: 25rem;
    margin:auto;
    font-family: $mainFont;
    justify-content: center;
  }

  .feedback__calendar-headline {
    text-align: center;
    font-size: 0.75rem;
  }
  
  .feedback__calendar {
    transform: scale(0.92) translateY(-20px);
  }
}