include ../header3/header3.pug
include ../percents/percents.pug
include ../calendar/calendar.pug
include ../stages/stages.pug
include ../form3/form3.pug
include ../navigation/navigation.pug
include ../location/location.pug

mixin page3
    main.page3
        .page3-wrapper
            .header3
                +header3({
                    source: "img/logo-3.png"
                })
            .content
                .diagramm-container
                    .diagramm1-container
                        .diagramm1
                            +percents({
                                percent: 0,
                            })
                        .diagramm1__content Просроченных проектов.
                    .diagramm2-container
                        .diagramm2
                            +percents({
                                percent: 25,
                            })
                        .diagramm2__content Проектов, выполненных досрочно.
                    .diagramm3-container
                        .diagramm3
                            +percents({
                                percent: 35
                            })
                        .diagramm3__content Нестарндарных проектов.
                    .diagramm4-container
                        .diagramm4
                            +percents ({
                                percent: 87
                            })
                        .diagramm4__content Довольных клиентов.
                .feedback
                    .feedback__headline Оставить отзыв
                    .feedback__container
                        .feedback__calendar-container
                            .feedback__calendar-headline Выбрать день публикации
                            .feedback__calendar
                                +calendar
                        .feedback__form
                            +form3
                .navigation
                    +navigation({
                        page1: "page1", 
                        page2: "page2", 
                        page3: "page3", 
                        page4: "page4"
                    })
            .footer3
                +location({ 
                    title: "Meet us!", 
                    address: "1259  California St san Francisco, CA"
                })