mixin form-fourth-page                            
    .form-fourth-page
        .form-fourth-page__surname-container 
            input(type="text", id="form-fourth-page__surname-input", placeholder="Ваша фамилия", class= "form-fourth-page__surname-input")
            #form-fourth-page__surname-message
        p#form-fourth-page__surname-error-message
        .form-fourth-page__name-container
            input(type="text", id="form-fourth-page__name-input", placeholder="Ваше имя", class= "form-fourth-page__name-input")
            #form-fourth-page__name-message
        p#form-fourth-page__name-error-message
        .form-fourth-page__patronymic-container 
            input(type="text", id="form-fourth-page__patronymic-input", placeholder="Ваше отчество", class= "form-fourth-page__patronymic-input")
            #form-fourth-page__patronymic-message
        p#form-fourth-page__patronymic-error-message
        .form-fourth-page__phone-container 
            input(type="text", id="form-fourth-page__phone-input", placeholder="Контактный телефон", class= "form-fourth-page__phone-input")
            #form-fourth-page__phone-message
        p#form-fourth-page__phone-error-message
        .form-fourth-page__email-container 
            input(type="text", id="form-fourth-page__email-input", placeholder="E-mail адрес", class= "form-fourth-page__email-input")
            #form-fourth-page__email-message
        p#form-fourth-page__email-error-message