mixin user( options = { source: "", name: "", profession: ""})
    - let {source, name, profession} = options;
    .user
        .user__avatar
            img(src=source, alt="Picture", hspace="5", vspace="5", class="user__avatar-image")
        .user__content-container
            p.user__name= name
            p.user__profession= profession
            .user__links-container
                a(href="/mock-address/change-me", class="user__facebook")
                a(href="/mock-address/change-me", class="user__twitter")
                a(href="/mock-address/change-me", class="user__dribbble")