.user {
  width: 100%;
  margin-left: 35px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;

  &__avatar {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-color: #e5e5e5;
  }

  &__content-container {
    background-image: url('../../img/slider-1.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-left: 0.167rem;
    width: 7.083rem;
    height: 3.875rem;
  }

  &__name {
    font-family: $secondFont;
    color: #e75735;
    font-size: 0.75rem;
    text-align: center;
    margin-left: 0.25rem;
    margin-block-start: 0.583rem;
    margin-block-end: 0;
  }

  &__profession {
    font-family: $mainFont;
    color: #4f4f4f;
    font-size: 0.458rem;
    letter-spacing: 0.55px;
    text-align: center;
    margin-left: 0.25rem;
    margin-block-start: 0.125rem;
    margin-block-end: 0;
    text-transform: lowercase;
  }

  &__links-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    width: 4.167rem;
    margin-left: 1.583rem;
    margin-top: 0.208rem;
  }

  &__facebook {
    width: 1.042rem;
    height: 1.042rem;
    background-image: url('../../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -2px -49px;           
  }

  &__twitter {
    width: 1.042rem;
    height: 1.042rem;
    background-image: url('../../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -92px -8px;         
  }

  &__dribbble {
    width: 1.042rem;
    height: 1.042rem;
    background-image: url('../../img/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -8px -8px; 
  }
    
  &__content-container:hover {
    background-image: url('../../img/slider-2.png');          
    .user__name {
      color: #ffffff;
    }

    .user__profession {
      color: #ffffff;
    }

    .user__links-container {
      .user__facebook {
        background-position: -33px -49px;
      }

      .user__twitter {
        background-position: -92px -47px; 
      }

      .user__dribbble {
        background-position: -48px -8px; 
      }
    }
  }
}