.user {
  display: flex;
  justify-content: center;
  flex-direction: row;

  @media screen and (max-width: 615px) {
    &__content-container {
      background-size: 100% 100%;
      width: 65%;
    }

    &__links-container {
      width: 70%;
      justify-content: center;
      margin: .408rem auto 1.583rem;
    }

    &__facebook,
    &__twitter,
    &__dribbble {
      margin: 0 0.3rem;
    }
  }

  &__avatar {
    width: 3.917rem;
    height: 3.917rem;
    border-radius: 50%;
    background-color: #e5e5e5;
  }

  &__content-container {
    background-image: url('./images/slider-1.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 0.167rem;
    width: 7.083rem;
    height: 3.875rem;

    &:hover {
      background-image: url('./images/slider-2.png');

      .user {
        &__name {
          color: #ffffff;
        }

        &__profession {
          color: #ffffff;
        }

        &__facebook {
          background-position: -1.375rem -2.042rem;
        }

        &__twitter {
          background-position: -3.833rem -1.958rem;
        }

        &__dribbble {
          background-position: -2rem -0.333rem;
        }
      }
    }
  }

  &__name {
    font-weight: lighter;
    color: #e75735;
    font-size: 0.75rem;
    text-align: center;
    margin-left: 0.25rem;
    margin-block-start: 0.23rem;
    margin-block-end: 0;
  }

  &__profession {
    font-weight: normal;
    color: #4f4f4f;
    font-size: 0.458rem;
    letter-spacing: 0.023rem;
    text-align: center;
    margin-left: 0.25rem;
    margin-block-start: 0.09rem;
    margin-block-end: 0;
    text-transform: uppercase;
  }

  &__links-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 4.167rem;
    margin: 0.408rem 0 0 1.583rem;
  }

  &__facebook {
    width: 1.042rem;
    height: 1.042rem;
    background-image: url('./images/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -0.083rem -2.042rem;
  }

  &__twitter {
    width: 1.042rem;
    height: 1.042rem;
    background-image: url('./images/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -3.833rem -0.333rem;
  }

  &__dribbble {
    width: 1.042rem;
    height: 1.042rem;
    background-image: url('./images/spritesheet.png');
    background-repeat: no-repeat;
    background-position: -0.333rem -0.333rem;
  }
}