mixin user( options = { source: "", name: "", profession: ""})
    - let {source, name, profession} = options;
    .user
        .user__avatar
            img.user__avatar-image(src=source, alt="Picture", hspace="5", vspace="5")
        .user__content-container
            p.user__name= name
            p.user__profession= profession
            .user__links-container
                a.user__facebook(href="/mock-address/change-me")
                a.user__twitter(href="/mock-address/change-me")
                a.user__dribbble(href="/mock-address/change-me")