mixin header-first-page(options={source, name})
    - let {source, name} = options;    
    .header-first-page
        .header-first-page__logo
        .header-first-page__logout
            a(href=`/mock-address/change-me`, class="header-first-page__logout-href") Logout
        .header-first-page__name= name 
        .header-first-page__avatar
            img(src=source, alt="User", hspace="2", vspace="2", class="header-first-page__avatar-image")
        .header-first-page__search
            input(type="text", id="search", placeholder="Search", class="header-first-page__search-input")
            button(id="search_icon", class="header-first-page__search-button")