.arrow-right {

  &__button {
    border: 0.083rem solid #4eb7a8;
    text-align: center;
    width:  2.083rem;
    height: 2.083rem;
    background-image: url('./images/arrow2.png');
    background-repeat: no-repeat;
    background-position: 0.625rem 0.458rem;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
    overflow: hidden;
    position: relative;
    padding: 0;
  }

  &__button:hover {
    background: #4eb7a8;
    background-image: url('./images/arrow4.png');
    background-repeat: no-repeat;
    background-position: 0.667rem 0.5rem;
    border: none;
  }

  &__button:active, 
  &__button:focus {
    outline: none;
    background-image: url('./images/arrow4.png');
    background-repeat: no-repeat;
    background-position: 0.667rem 0.5rem;
    background-color: #e5e5e5;
    border: none;
  }

  &__button:visited {
    outline: none;
  }

  &__button::-moz-focus-inner {
    border: 0;
  }
}