include ../header-sigma/header-sigma.pug
include ../slider/slider
include ../form-sigma/form-sigma.pug
include ../calendar/calendar.pug
include ../navigation/navigation.pug
include ../footer-sigma/footer-sigma.pug
include ../tick-boxes/tick-boxes.pug

mixin page-sigma
   main.page-sigma
        .page-sigma-wrapper
            .header-sigma
               +header-sigma({
                   glavnaya: "Главная", 
                   katalog: "Каталог", 
                   oNas: "О нас"
               })
            .content
                .left-side
                    .drop-down-korobka
                        .drop-down-korobka__header Коробка передач:
                        #drop-down-korobka__contentline Не выбрано
                        button.drop-down-korobka__button
                        .drop-down-korobka__content-container
                            #drop-down-korobka__mechanic Механика
                            #drop-down-korobka__automat Автомат
                    .drop-down-place
                        .drop-down-place__header Место оформления аренды:
                        #drop-down-place__contentline Не выбрано
                        button.drop-down-place__button
                        .drop-down-place__content-container
                            #drop-down-place__office В офисе
                            #drop-down-place__phone Ваш адрес (по телефону)
                    .slider    
                        +slider
                    .add
                        .add__headline Добавить в машину:
                        .add__kreslo-container
                            .add__tick-box
                                +tick-boxes
                            .add__kreslo Детское кресло
                        .add__navigator-container
                            .add__tick-box
                                +tick-boxes
                            .add__navigator Навигатор
                        .add__holodilnik-container
                            .add__tick-box
                                +tick-boxes
                            .add__holodilnik Автохолодильник
                    .form
                        +form-sigma
                .right-side
                    .calendar
                        +calendar
                        p#completeform 
                    button#submit Отправить заявку
            .navigation
                    +navigation({
                        alfa: "alfa", 
                        betta: "betta", 
                        gamma: "gamma", 
                        sigma: "sigma"
                    })
            .footer-sigma
                +footer-sigma({
                     glavnaya: "Главная", 
                     katalog: "Каталог", 
                     contacts: "Контакты" 
                })