mixin slider-right
    .slider-right
        input(id="rs-range-line2",class="slider-right__rs-range", type="range", value="75", min="0", max="100")
        #slider-right_color
        .slider-right__text-block
            span.slider-right__span1 0
            span.slider-right__span2 25
            span.slider-right__span3 50
            span.slider-right__span4 75
            span.slider-right__span5 100