mixin slider-right
    .slider-right
        input(id="rs-range-line2",class="rs-range2", type="range", value="75", min="0", max="100")
        #slider-right_color
        .slider-right__text-block
            span 0
            span 25
            span 50
            span 75
            span 100