mixin slider-right
    .slider-right
        input.slider-right__rs-range(id="rs-range-line2", type="range", value="75", min="0", max="100")
        #slider-right_color
        .slider-right__text-block
            span.slider-right__first-span 0
            span.slider-right__second-span 25
            span.slider-right__third-span 50
            span.slider-right__fourth-span 75
            span.slider-right__fifth-span 100