mixin header-alfa(options={source, name})
    - let {source, name} = options;    
    .header-alfa
        .header-alfa__wrapper
            .header-alfa__logo
            .header-alfa__logout
                a.header-alfa__logout-href(href=`/mock-address/change-me`) Logout
            .header-alfa__name= name
            .header-alfa__avatar
                img.header-alfa__avatar-image(src=source, alt="User", hspace="2", vspace="2")
            .header-alfa__search
                input.header-alfa__search-input(type="text", id="search", placeholder="Search")
                button.header-alfa__search-button(id="search_icon")