.player {
  border-radius: 0.208rem;
  width: 24.75rem;
  height: 14rem;
  overflow: hidden;
  margin: 0.8rem 0 1.25rem 0;
  position: relative;

  &__video {
    border-radius: 0.208rem;
  }

  &__controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    position: absolute;
    top: 12rem;
  }

  &:fullscreen {
    border-width: 0;
    max-width: none;
    width: 100%;
  }

  &__progress {
    height: 0.208rem;
    transition: height 0.3s;
    background: white;
    width: 98%;
    margin: 0.917rem 0.5rem 0 0;
    border-radius: 0.125rem;
    cursor: pointer;
    flex-grow: 1;
  }

  &__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    width: 2rem;
    height: 2rem;

    &_unclicked:after {
      content: '►';
    }
  }

  &__button:focus {
    border-color: #b8db92;
  }

  &__fullscreen-button {
    background: url('./images/fullscreen.png') 0 0 no-repeat;
    width: 2.3rem;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    height: 2rem;
  }

  &__progress_filled {
    width: 50%;
    background: #e75735;
    height: 0.208rem;
    flex: 0;
    flex-basis: 50%;
    border-radius: 0.125rem;
  }
}