mixin player
    .player.js-player
        video.player__video(src="video/156181920.mp4")
        .player__controls
            button.player__button.player__button_unclicked
            .player__progress
                .player__progress-filling
            button.player__fullscreen-button