mixin player(options = {source: ""})
    - let {source} = options;
    .player.js-player
        video.player__video(src=source)
        .player__controls
            button.player__button.player__button_unclicked
            .player__progress
                .player__progress-filling
            button.player__fullscreen-button