mixin player
    .js-player
        video.js-player__video(src="video/156181920.mp4")
        .js-player__controls
            button.js-player__button.js-player__button_unclicked
            .js-player__progress
                .js-player__progress-filling
            button.js-player__fullscreen-button