mixin player
    .player
        video.player__video.viewer(src="video/156181920.mp4")
        .player__controls
            button.player__button.toggle.after
            .player__progress
                .player__progress_filled
            button.player__button.fullscreen