
.player {

  .player__wrapper {
    border-radius: 0.208rem;
    max-width: 24.75rem;
    overflow: hidden;
    margin: 1rem 0 1.25rem 0;
  }

  &__video {
    border-radius: 0.208rem;
    overflow: hidden;
  }

  &__controls {
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    margin-top: -2.2rem;
  }

  &__progress-container {
    flex-grow: 1;
  }

  &:fullscreen {
    border-width: 0;
    max-width: none;
    width: 100%;
  }

  &:hover .player__controls {
    display: flex;
  }

  &__progress {
    height: 0.208rem;
    transition: height 0.3s;
    background: white;
    width: 98%;
    margin-top: 0.917rem;
    border-radius: 0.125rem;
    cursor: pointer;
  }

  &__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }

  &__button:focus {
    border-color: #b8db92;
  }

  .fullscreen {
    background: url('./images/fullscreen.png') 0 0 no-repeat;
  }

  &__progress_filled {
    width: 50%;
    background: #e75735;
    height: 0.208rem;
    flex: 0;
    flex-basis: 50%;
    border-radius: 0.125rem;
  }
}