include ../stages/stages.pug
include ../toggles/toggles.pug
include ../form2/form2.pug
include ../navigation/navigation.pug

mixin page2
    main.page2
            .page2-wrapper
                .header2 Apply for a job
                .content
                    .stages
                        +stages
                    .avatar
                        .avatar__image
                        .avatar__edit
                            button(name="button", class="avatar__edit-button") edit
                    .form
                        +form2({
                            toggleContent: "Get information about current events."
                        })
                .navigation
                    +navigation({
                        page1: "page1", 
                        page2: "page2", 
                        page3: "page3", 
                        page4: "page4"
                    })