.arrows
    .arrows_wrapper
        .arrows_wrapper__arrows-container
            button.bt1
            button.bt2

        //-    // button.bt1
        //-     button.bt2
        //-     button.bt3
        //-     button.bt4
        //-     button.bt5
        //-     button.bt6