.buttons
    .buttons_wrapper
        .buttons_wrapper__headline
            p.buttons__headline STANDARD BUTTONS
        .buttons_wrapper__buttons-container
            .button1
                button.bt1 BUTTON
            .button2
                button.bt2 BUTTON
            .button3
                button.bt3 BUTTON 
            .button4
                button.bt4 BUTTON