mixin side-left(options = {source: "",title: "", date: "", text: ""})
    -let {source, title, date, text } = options;
    .side-left
        img(src=source, alt="Pic 1", class="side-left__image")
        .side-left__content-container
            .side-left__title-container
                p.side-left__title= title
            .side-left__date-container
                p.side-left__date= date
            .side-left__text-container
                p.side-left__text= text
