.side-left {
  width: 11.875rem;
  height: 8.833rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.458rem;

  &__content-container {
    display: flex;
    flex-direction: column;
    background: #e75735;
    border-radius: 0 3px 3px 0;
  }

  &__title-container {
    font-family: $secondFont;
    color: #ffffff;
    font-size: 1.167rem;
    margin-left: 1rem;
    margin-block-start: 0.833rem;
    margin-block-end: 0.625rem;
    line-height: 1.083rem;
  }

  &__title {
    margin-block-start: 0px;
    margin-block-end: 0px;  
  }
  
  &__date-container {
    font-family: $mainFont;
    color: #ffffff;
    font-size: 0.458rem;
    letter-spacing: 0.55px;
    margin-left: 1rem;
    margin-top: -2px;
  }

  &__date {
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;  
  }

  &__text-container {
    font-family: $secondFont;
    color: #ffffff;
    font-size: 0.458rem;
    margin-left: 1rem;
    padding-right: 0.917rem;
    letter-spacing: 0.55px;
  }
}