@import "svg/percents1.scss";
@import "svg/percents2.scss";
@import "svg/percents3.scss";
@import "svg/percents4.scss";
@import "svg/pie.scss";
.percents-pie {
  width: 100%;
  .percents-pie-wrapper {
    width: 100%;
    .percents-pie-wrapper__headline {
      text-align: center;
      margin-bottom: 27px;
    } 
    .percents-pie-wrapper__container {
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 37px;
    }
  }
}