.percents_pie
    .percents_pie_wrapper
        .percents_pie_wrapper__container
            include svg/percents1.pug
            include svg/percents2.pug
            include svg/percents3.pug
            include svg/percents4.pug
            //- 15% 25% 30% 30%
            include svg/pie.pug 