mixin buttons
    .buttons
        .buttons__buttons-container
            .button1
                button(name="button", class="buttons__bt1") button
            .button2
                button(name="button", class="buttons__bt2") button
            .button3
                button(name="button", class="buttons__bt3") button 
            .button4
                button(name="button", class="buttons__bt4") button