mixin buttons
    .buttons
        .buttons__buttons-container
            .button1
                button(name="button", class="bt1") BUTTON
            .button2
                button(name="button", class="bt2") BUTTON
            .button3
                button(name="button", class="bt3") BUTTON 
            .button4
                button(name="button", class="bt4") BUTTON