mixin buttons
    .buttons
        .buttons__buttons-container
            .buttons__first-button-container
                button.buttons__first-button(name="button") button
            .buttons__second-button-container
                button.buttons__second-button(name="button") button
            .buttons__third-button-container
                button.buttons__third-button(name="button") button 
            .buttons__fourth-button-container
                button.buttons__fourth-button(name="button") button