.buttons {

  &__buttons-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2.292rem;
    width: 20.833rem;
  }

  .ripple {
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
  }

  @keyframes ripple {
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }

  &__first-button {
    border: 1px solid #4eb7a8;
    text-align: center;
    width: 3.25rem;
    height: 0.917rem;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    font-size: 0.417rem;
    border-radius: 0.208rem;
    box-shadow: 0 -2px rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
  }

  &__first-button:hover {
    background: #4eb7a8;
    color: #ffffff;
  }

  &__first-button:active, 
  &__first-button:focus {
    outline: none;
    box-shadow: none;
  }

  &__first-button:visited {
    outline: none;
  }

  &__first-button::-moz-focus-inner {
    border: 0;
  }

  &__second-button {
    border: 1px solid #4eb7a8;
    text-align: center;
    width: 4.917rem;
    height: 1.333rem;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    font-size: 0.5rem;
    border-radius: 0.208rem;
    box-shadow: 0 -2px rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
  }

  &__second-button:hover {
    background: #4eb7a8;
    color: #ffffff;
  }

  &__second-button:active, 
  &__second-button:focus {
    outline: none;
    box-shadow: none;
  }

  &__second-button:visited {
    outline: none;
  }

  &__second-button::-moz-focus-inner {
    border: 0;
  }

  &__third-button {
    border: 1px solid #e75735;
    text-align: center;
    width: 4.917rem;
    height: 1.333rem;
    background: #ffffff;
    font-weight: bolder;
    color: #e75735;
    font-size: 0.5rem;
    border-radius: 0.208rem;
    box-shadow: 0 -2px rgba(231, 87, 53, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
  }

  &__third-button:hover {
    background: #e75735;
    color: #ffffff;
  }

  &__third-button:active,
  &__.third-button:focus {
    outline: none;
    box-shadow: none;
  }

  &__third-button:visited {
    outline: none;
  }

  &__third-button::-moz-focus-inner {
    border: 0;
  }

  &__fourth-button {
    border: 1px solid #e75735;
    text-align: center;
    width: 3.25rem;
    height: 0.917rem;
    background: #ffffff;
    font-weight: bolder;
    color: #e75735;
    font-size: 0.417rem;
    border-radius: 0.208rem;
    box-shadow: 0 -2px rgba(231, 87, 53, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
  }

  &__fourth-button:hover {
    background: #e75735;
    color: #ffffff;
  }

  &__fourth-button:active,
  &__fourth-button:focus {
    outline: none;
    box-shadow: none;
  }

  &__fourth-button:visited {
    outline: none;
  }

  &__fourth-button::-moz-focus-inner {
    border: 0;
  }
}