.messaging
    .messaging-wrapper
        .name
            p Sarah Brown
        .dark-block
        .avatar
            img(src="img/user-2.png", alt="User 2", hspace="5", vspace="5")
        .dark-container    
            .icons  
                .icon1
                .icon2 
            .message1
                p Hey! So are we cool to meet at the art gallery? Say 8pm
            .message2-container
                .message2
                    p Yeah that sounds great. See you then.
            button(name="button") REPLY

