.header-social-network {
  height: 1.7rem;
  background: #53b6a8;
  display: flex;
  flex-direction: row;

  &__logo {
    flex-grow: 1;
    background: url('./images/logo.png') 1.25rem 0.425rem no-repeat;
  }

  &__logout {
    font-size: 0.517rem;
    font-weight: bold;
    color: white;
    line-height: 1.292rem;
    margin-top: 0.2rem;

    &-link {
      color: white;
      text-decoration: none;
    }
  }

  &__name {
    font-size: 0.517rem;
    color: white;
    line-height: 1.292rem;
    margin-left: 0.417rem;
    margin-top: 0.2rem;
  }

  &__avatar {
    width: 1.167rem;
    height: 1.167rem;
    border-radius: 50%;
    background: #e5e5e5;
    margin: 0.242rem 0 0 0.417rem;

    @media screen and (max-width:400px){
      margin-right: 1rem;
    }
  }

  &__search {
    margin-top: 0.23rem;
    transform: scale(0.85);

    @media screen and (max-width:400px){
      display: none;
    }
  }
}

