.tick-boxes {

  tick-boxes__input {
    position: relative;
    appearance: none;
    width: 3em;
    margin: 0;
    outline: none;
    transition: 300ms ease-out;

    &:after {
      content: '';
      display: inline-block;
      width: 1.5em;
      height: 0.83rem;
      background: #E5E5E5 url("./images/tick-box-2.png") 0.16rem 0.2rem no-repeat;
      border-radius: 50%;
    }

    &:checked::after {
      font-weight: 900;
    }
    &:active {
      transform: scale(.6);
    }
  }

  tick-boxes__input:checked:after {
    content: '';
    background: #4EB7A8 url("./images/tick-box-1.png") 0.16rem 0.2rem no-repeat;
    border-radius: 50%;
    width: 1.5em;
    height: 0.83rem;
  }
}
