.tick-boxes {

  &__input {
    position: relative;
    appearance: none;
    width: 3em;
    margin: 0;
    outline: none;
    transition: 300ms ease-out;

    &:after {
      content: '  \2714';
      display: inline-block;
      width: 1.5em;
      height: 0.83rem;
      background: #E5E5E5;
      border-radius: 50%;
      color: #757575;
      white-space: pre;
      font-weight: normal;
      letter-spacing: -0.05rem;
    }

    &:checked::after {
      font-weight: 900;
    }
    &:active {
      transform: scale(.6);
    }
  }

  &__input:checked:after {
    content: '  \2714';
    background: #4EB7A8;
    border-radius: 50%;
    width: 1.5em;
    height: 0.83rem;
    color: white;
    white-space: pre;
    font-weight: normal;
    letter-spacing: -0.05rem;
  }
}
