.tick-boxes {
  width: 1.25rem;
  margin-left: 3.75rem;
  margin-left: 36%;

  &__container {   
      width: 1.25rem;
  }
  #tick-boxes {
    width: 1rem;
    height: 1rem;
    background-color: #e5e5e5;
    border-radius: 50%;
    margin-left: 1.458rem;
    border: 0;
    background-image: url('../../img/tick-box-2.png');
    background-repeat: no-repeat;
    background-position: 0.25rem 0.271rem;
  }

  #tick-boxes, 
  #tick-boxes:active, 
  #tick-boxes:focus {
    outline: none;
  }
}
