mixin drop-down(options = {contentContainer:[]})
    -let {contentContainer} = options;
    .drop-down
        .drop-down__content-wrapper
            .drop-down__contentline Choose an Option
            button.drop-down__button
        .drop-down__content
            -contentContainer.forEach(function(item) {
                .drop-down__item= item.content
            -});
