mixin drop-down(options = {contentContainer:[]})
    -let {contentContainer} = options;
    .js-drop-down
        .js-drop-down__select
            .js-drop-down__select-title Choose an Option
            button.js-drop-down__select-button
        .js-drop-down__options
            -contentContainer.forEach(function(item) {
                .js-drop-down__item= item.content
            -});
