mixin percents3(options={number:""})
    -let {number} = options; 
    .percents3
        svg(width="100%",height="100%", viewBox="0 0 100 100")
            circle(class="segment", cx="50", cy="50", r="45", fill="transparent", stroke="#e75735", stroke-width="5", stroke-dasharray="175.212 107.388", stroke-dashoffset="70.65")
            text(x="50", y="50", class="percents3__number")= number
            //-  62