.location {
  margin-left: 3rem;

  &__map {
    width: 24.75rem;
    height: 11.292rem;
    margin-left: -1.25rem;
    position: relative;
    z-index: 0;
  }

  &__content {
    width: 24.75rem;
    height: 2.875rem;
    position: relative;
    z-index: 100;
    margin-top: -2.875rem;
    margin-bottom: 2.083rem;
    margin-left: -1.25rem;
    border-radius: 0 0 0.125rem 0.125rem;
    background: #e75735;
    display:flex;
    flex-direction: row;
  }
  
  &__content-title {
    font-family: $secondFont;
    font-size: 1.25rem;
    color: #ffffff;
    margin-top: 0.542rem;
    margin-left: 0.917rem;
  }

  &__content-address {
    width: 6.667rem;
    font-size: 0.542rem;
    letter-spacing: 0.63px;
    color: #ffffff;
    margin-top: 0.792rem;
    margin-left: 1.083rem;
    text-transform: uppercase;
  }

  &__content-icon1 {
    width: 1.667rem;
    font-size: 1.667rem;
    background-image: url('../../img/icon-my-location.png');
    background-repeat: no-repeat;
    background-position: 0 20px;
    margin-left: 7.083rem;
  }

  &__content-icon2 {
    width: 1.667rem;
    font-size: 1.667rem;
    background-image: url('../../img/icon-pin.png');
    background-repeat: no-repeat;
    background-position: 0 21px;
    margin-left: 0.417rem;
  }
}