.location {
  width: 100%;

  @media screen and (max-width: 720px) {

    &__content-title {
      display: none;
    }

    &__content-address {
      white-space: nowrap;
      line-height: 1.3rem;
    }

    &__content-empty-element {
      display: none;
    }
  }

  @media screen and (max-width: 505px) {
    &__content {
      justify-content: center;
    }

    &__content-address {
      display: none;
    }
  }

  &__map {
    width: 100%;
    height: 8.65rem;
    position: relative;
    z-index: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 0.125rem 0.125rem 0 0;
  }

  &__content {
    width: 100%;
    height: 2.875rem;
    margin: auto;
    position: relative;
    z-index: 100;
    border-radius: 0 0 0.125rem 0.125rem;
    background: #e75735;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__content-title {
    font-weight: lighter;
    font-size: 1.25rem;
    color: #ffffff;
    margin: 0.542rem 0 0 0.917rem;
    white-space: nowrap;
  }

  &__content-address {
    width: 25%;
    font-size: 0.542rem;
    letter-spacing: 0.026rem;
    color: #ffffff;
    margin: 0.792rem 0 0 1.083rem;
    text-transform: uppercase;
    flex-grow: 1;
  }

  &__content-empty-element {
    width: 36%;
  }

  &__content-icon-my-location {
    width: 1.667rem;
    font-size: 1.667rem;
    background: url('./images/icon-my-location.png') center center no-repeat;
  }

  &__content-icon-pin {
    width: 1.667rem;
    font-size: 1.667rem;
    background: url('./images/icon-pin.png') center center no-repeat;
    margin-left: 0.417rem;
  }
}