.events {

  width: 11.875rem;
  height: 8.833rem;
  display: flex;
  flex-direction: row;
  margin: 1rem 0.5rem 2rem 0;

  &__content-container {
    display: flex;
    flex-direction: column;
    background: #4eb7a8;
    border-radius: 0 0.125rem 0.125rem 0;
  }

  &__date-container {
    color: #ffffff;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
  }

  &__date-number {
    font-weight: lighter;
    font-size: 3.042rem;
    letter-spacing: -0.122rem;
  }

  &__date-month {
    font-weight: lighter;
    font-size: 1.25rem;
    margin: 1.708rem 0 0 0.6rem;
  } 

  &__title-container{
    font-weight: normal;
    color: #ffffff;
    font-size: 0.542rem;
    letter-spacing: 0.026rem;
    line-height: 0.6rem;
    margin: 0.5rem 0 0 1.15rem;
  }

  &__title {
    text-transform: uppercase;  
  }

  &__text-container {
    font-weight: lighter;
    color: #ffffff;
    font-size: 0.458rem;
    margin-left: 1.1rem;
    letter-spacing: 0.023rem;
  }

  &__button-container {
    margin: 0.8rem 0 0 1.5rem;

  }
}