mixin form2(options={toggleContent:""})
    -let {toggleContent} = options;
    .form2
        p#form2__completeform 
            .form2__job-title-container 
                input(type="text", id="form2__job-title-input", placeholder="Job title", class="form2__job-title-input")
                #form2__job-title-message
        p#form2__job-title-error-message 
            .form2__facebook-container
                input(type="text", id="form2__facebook-input", placeholder="Facebook link", class="form2__facebook-input")
                #form2__facebook-message
        p#form2__facebook-error-message 
            .form2__twitter-container
                input(type="text", id="form2__twitter-input", placeholder="Twitter link", class="form2__twitter-input")
                #form2__twitter-message
        p#form2__twitter-error-message 
            .form2__dribbble-container
                input(type="text", id="form2__dribbble-input", placeholder="Dribbble link", class="form2__dribbble-input")
                #form2__dribbble-message
        p#form2__dribbble-error-message 
        .form2__toggle
            +toggles
            .form2__toggle-content= toggleContent
        .form2__submit-container
            button(id="form2__submit-button", class="form2__submit-button") submit