mixin form4                            
    .form4
        .form4__surname-container 
            input(type="text", id="form4__surname-input", placeholder="Ваша фамилия", class= "form4__surname-input")
            #form4__surname-message
        p#form4__surname-error-message
        .form4__name-container
            input(type="text", id="form4__name-input", placeholder="Ваше имя", class= "form4__name-input")
            #form4__name-message
        p#form4__name-error-message
        .form4__patronymic-container 
            input(type="text", id="form4__patronymic-input", placeholder="Ваше отчество", class= "form4__patronymic-input")
            #form4__patronymic-message
        p#form4__patronymic-error-message
        .form4__phone-container 
            input(type="text", id="form4__phone-input", placeholder="Контактный телефон", class= "form4__phone-input")
            #form4__phone-message
        p#form4__phone-error-message
        .form4__email-container 
            input(type="text", id="form4__email-input", placeholder="E-mail адрес", class= "form4__email-input")
            #form4__email-message
        p#form4__email-error-message