.drop-down
    .drop-down-wrapper
        .contentline Choose An Option
        button.dropbtn
        .dropdown-content
            a(href="#") Option 1
            a(href="#") Option 2
            a(href="#") Option 3 