.drop_down
    .drop_down_wpapper
        div.contentline Choose An Option
        button.dropbtn
        div.dropdown-content
            a(href="#") Option 1
            a(href="#") Option 2
            a(href="#") Option 3 