mixin user(source,name,title)    
    .user
        .user-wrapper
            .avatar
                img(src=source, alt="Picture", hspace="5", vspace="5")
            .content
                p.line1=name
                p.line2=title
                .line3
                    a(href="/mock-address/change-me", class="facebook")
                    a(href="/mock-address/change-me", class="twitter")
                    a(href="/mock-address/change-me", class="dribbble")