mixin user(source,name,title)    
    .user
        .user_wrapper
            .avatar
                img(src=source, hspace="5", vspace="5")
            .content
                p.line1=name
                p.line2=title
                .line3
                    a(href="#", class="facebook")
                    a(href="#", class="twitter")
                    a(href="#", class="dribbble")