$lato                    : Lato,'Montserrat', Helvetica, Arial, sans-serif;
$sansPro                 : SourceSansPro-Regular,'Montserrat', Helvetica, Arial, sans-serif;

$fontSize            : 24px;
$fontWeight          : 400;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

$fontColor           : #4f4f4f;
