$mainFont                : Lato,'Montserrat', Helvetica, Arial, sans-serif;
$secondFont               : SourceSansPro-Regular,'Montserrat', Helvetica, Arial, sans-serif;

$mainFontColor           : #4f4f4f;;
$mainFontSize            : 24px;
$mainFontWeight          : 400;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
