doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        meta(name="keywords", content="Ключевые слова")
        meta(name="description", content="FSD Тестовое задение - Страница 3")
        link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
        title FSD_UI
    body
        main.page
            .wrapper
                .header
                    .fisrt-line
                        .logo
                            img(src="img/logo-3.png", hspace="10", vspace="5")
                        .contacts
                            .time Ежедневно с 9.00 до 22.00
                            .tel +79263864674
                    .second-line
                        .glavnaya
                            a(href="/mock-address/change-me", class="glavnaya") Главная
                        .photo-rabot
                            a(href="/mock-address/change-me", class="photo_rabot") Фото Работ
                        .o-nas
                            a(href="/mock-address/change-me", class="o_nas") О Нас
                        .otzivi
                            a(href="/mock-address/change-me", class="otzivi") Отзывы
                        .regisration
                            a(href="/mock-address/change-me", class="regisration") Регистрация
                .content
                    .div1
                        .diagramm1
                            include blocks/block_percents_pie/svg/percents1.pug
                        .content1 Просроченных проектов.
                    .div2
                        .diagramm2
                            include blocks/block_percents_pie/svg/percents2.pug
                        .content2 Проектов, выполненных досрочно.
                    .div3
                        .diagramm3
                            include blocks/block_percents_pie/svg/percents3.pug
                        .content3 Нестарндарных проектов.
                    .div4
                        .diagramm4
                            include blocks/block_percents_pie/svg/percents4.pug
                        .content4 Довольных клиентов.
                .comment-headline Оставить отзыв
                .comment-container
                    .calendar-container
                        .calendar-headline Выбрать день публикации
                        .calendar
                            include blocks/block_calendar/calendar.pug
                    .form-container
                        .line1 
                            input(type="text", id="input1", placeholder="Имя")
                        .line2 
                            input(type="text", id="input2", placeholder="E-mail")
                        .raiting Рейтинг
                        .line3
                            include blocks/block_stages/stages.pug
                        .line4
                         textarea(type="text", id="input4", placeholder="Сообщение")
                        .line5
                            button(name="button", id="submit") Отправить
                .navigation-container
                            .button1
                                button(name="button", class="btn", onclick="document.location='index1.html'") PAGE 1
                            .button2
                                button(name="button", class="btn", onclick="document.location='index2.html'") PAGE 2
                            .button3
                                button(name="button", class="btn", onclick="document.location='index3.html'") PAGE 3
                            .button4
                                button(name="button", class="btn", onclick="document.location='index4.html'") PAGE 4
                .footer1
                    .location
                        .location-wrapper#map
                            script(src="https://api-maps.yandex.ru/2.1.17/?lang=ru_RU", type="text/javascript")
                        .location-content
                            .title Meet us!
                            .address 1259  CALIFORNIA ST SAN FRANCISCO, CA
                            .icon1
                            .icon2