doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        meta(name="keywords", content="Ключевые слова")
        meta(name="description", content="FSD Тестовое задение - Страница 4")
        link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
        title FSD_UI
    body
        main.page
            .wrapper
                .header
                    .header-fist-line
                        .logo LOGOTIP
                    .header-second-line
                        .button1
                            button(name="button", class="btn") ГЛАВНАЯ
                        .button2
                            button(name="button", class="btn") КАТАЛОГ
                        .button3
                            button(name="button", class="btn") О НАС
                .content
                    .left-side
                        .drop-down1
                            div.drop-down1-header Коробка передач:
                            div#contentline1 Не выбрано
                            button.drop1btn
                            div.drop-down1-content
                                div#option11 Механика
                                div#option12 Автомат
                        .drop-down2
                            div.drop-down2-header Место оформления аренды:
                            div#contentline2 Не выбрано
                            button.drop2btn
                            div.drop-down2-content
                                div#option21 В офисе
                                div#option22 Ваш адрес (по телефону)
                        .slider
                            include blocks/slider-left/slider-left.pug
                        .add
                            .add-headline Добавить в машину:
                            .add-line1
                                .tick-box
                                    include blocks/tick-boxes/tick-boxes.pug
                                .add-line1-content Детское кресло
                            .add-line2
                                .tick-box
                                    include blocks/tick-boxes/tick-boxes.pug
                                .add-line2-content Навигатор
                            .add-line3
                                .tick-box
                                    include blocks/tick-boxes/tick-boxes.pug
                                .add-line3-content Автохолодильник
                        .form
                            .line1 
                                input(type="text", id="input1", placeholder="Ваша фамилия")
                                div#message-container1
                            p#input1_errorMessage Должно быть по крайней мере 3 символа.
                            .line2
                                input(type="text", id="input2", placeholder="Ваше имя")
                                div#message-container2
                            p#input2_errorMessage Должно быть по крайней мере 3 символа.
                            .line3
                                input(type="text", id="input3", placeholder="Ваше отчество")
                                div#message-container3 
                            p#input3_errorMessage Должно быть по крайней мере 3 символа.
                            .line4
                                input(type="text", id="input4", placeholder="Контактный телефон")
                                div#message-container4
                            p#input4_errorMessage Должно быть по крайней мере 3 символа.
                            .line5
                                input(type="text", id="input5", placeholder="E-mail адрес")
                                div#message-container5
                            p#input5_errorMessage Должно быть по крайней мере 3 символа.
                    .right-side
                        .calendar
                            include blocks/calendar/calendar.pug
                            +calendar
                        button#submit Отправить заявку
                .navigation-container
                            .button1
                                button(name="button", class="btn", onclick="document.location='index1.html'") PAGE 1
                            .button2
                                button(name="button", class="btn", onclick="document.location='index2.html'") PAGE 2
                            .button3
                                button(name="button", class="btn", onclick="document.location='index3.html'") PAGE 3
                            .button4
                                button(name="button", class="btn", onclick="document.location='index4.html'") PAGE 4
                .fotter
                    .logo LOGOTIP
                    .menu
                        .menu-line1
                             a(href="/mock-address/change-me") Главная
                        .menu-line2
                            a(href="/mock-address/change-me") Каталог 
                        .menu-line3
                            a(href="/mock-address/change-me") Контакты 