doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title FSD_UI
	body
		main.page
			.wrapper
				.header
					.logo
					.logout
						a(href="#", class="logout") Logout
					.name Sarah Brown
					.avatar
						img(src="img/user.png", hspace="2", vspace="2")
					.search
						.search_wrapper
							input(type="text", id="search", placeholder="Search")
							button#search_icon
				.container
					.profile_container
						.profile_headline MY PROFILE
						.profile_content
							.profile_content_left_side
								.profile_avatar_container
									.profile_avatar
									.profile_edit
										button(name="button",class="pfofile_button") EDIT
								.profile_calendar
									.calendar
										include blocks/block_calendar/calendar.pug
							.profile_content_right_side
								.profile_content_right_side_header SARAH BROWN
								.profile_content_right_side_contacts
									.line1
										.profession_title PFOFESSION
										.profession Actress
									.line2
										.phone_title PHONE	
										.phone +79263864674
									.line3
										.twitter_title TWITTER
										.twitter twitter
									.line4
										.facebook_title FACEBOOK
										.facebook facebook
								.profile_content_right_side_skills
									.skills
										ul
											li.li1
												span Horror
											li.li2 
												span Thriller
											li.li3
												span Drama
											li.li4 
												span Comedy
									.pie_chart
										include blocks/block_percents_pie/svg/pie.pug
					.right_side
						.right_side_links_contaner
							.right_side_links_contaner_line1 
								a(href="#", class="profile") PROFILE
							.right_side_links_contaner_line2
								a(href="#", class="feedback") FEEDBACK
							.right_side_links_contaner_line3
								a(href="#", class="news_events") NEWS AND EVENTS
						.right_side_news_container
							.right_side_news_container_line1 LAST NEWS
							.right_side_news_container_news1
								include blocks/block_side1/side1.pug
							.right_side_news_container_news2
								include blocks/block_side2/side2.pug
				.navigation_container
							.button1
								button(name="button", class="btn", onclick="document.location='index1.html'") PAGE 1
							.button2
								button(name="button", class="btn", onclick="document.location='index2.html'") PAGE 2
							.button3
								button(name="button", class="btn", onclick="document.location='index3.html'") PAGE 3
							.button4
								button(name="button", class="btn", onclick="document.location='index4.html'") PAGE 4				
				.footer1
					.fotter_chat
						include blocks/block_messaging/messaging.pug