html,
body {
  font-family: $mainFont;
}

.wrapper {
  max-width: 21.167rem;
  font-family: $mainFont;
  .header {
    width: 12.5rem;
    font-size: 0.833rem;
    color: #e4583d;
    text-align: center;
    margin:auto;
  }
  .stages {
    margin-top: 1.25rem;
    margin-left: 1.25rem;
  }
  .avatar-container {
    width: 5.833rem;
    height: 6.875rem;
    background-color: white;
    -webkit-box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow:    -2px 2px 13px 0px rgba(0, 0, 0, 0.64);
    box-shadow:         -2px 2px 13px 0px rgba(0, 0, 0, 0.64);
    margin-bottom: 0.417rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.25rem;
    .avatar {
      width: 5.833rem;
      height: 5.833rem;
      background-image: url('img/user-large.png');
      background-repeat: no-repeat;
      background-position: 6.5px 6.5px;
    }
    .edit {
      width: 5.417rem;
      margin: auto;
      margin-top: -0.083rem; 
    .ripple {
      border-radius: 50%;
      background-color: white;
      opacity: 0.7;
      position: absolute;
      transform: scale(0);
      animation: ripple 0.6s linear;
    }
    @keyframes ripple {
      to {
        transform: scale(1.3);
        opacity: 0;
      }
    }
    .button {
      border: 0.042rem solid #4eb7a8;
      text-align: center;
      width: 5.25rem;
      height: 0.917rem;
      background: #ffffff;
      font-weight: bolder;
      color: #4eb7a8;
      font-size: 0.417rem;
      border-radius: 0.125rem;
      box-shadow: 0 -2px rgba(40, 162, 144, 1) inset;
      transition: 0.2s;
      vertical-align: middle;
      overflow: hidden;
      position: relative;
      margin: auto;
    }
    .button:hover {
      background: #4eb7a8;
      color: #ffffff;
    }
    .button:active,
    .button:focus {
      outline: none;
      box-shadow: none;
    }
    .button:visited {
      outline: none;
    }
    .button::-moz-focus-inner {
      border: 0;
    }
  }
}
.tick-boxes {
  display: flex;
  flex-direction: row;
  .tick-box-male {
    margin-left: 5.833rem;
  }
  .male {
    font-size: 0.667rem;
    margin-left: -5rem;
    line-height: 1.042rem;
  }
  .tick-box-female {
    margin-left: -4.583rem;
  }
  .female {
    font-size: 0.667rem;
    margin-left: -5rem;
    line-height: 1.042rem;
  }
}
.form {
  width: 11.458rem;
  margin:auto;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  #completeForm {
    padding: 0.292rem;
    border: 0;
    height: 0.625rem;
    line-height: 0.208rem;
    font-family: $mainFont;
    margin-top: -0.625rem;
    font-size: 0.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: red;
    margin-left: 2.917rem;
  }
  .line1 {
    width: 1.458rem;
    height: 1.167rem;
    display: flex;
    flex-direction:row;
    margin: 0;
    padding: 0;
    position: relative;
    #input1 {
      width: 8.458rem;
      height: 1.167rem;
      margin: 0;  
      font-size: 0.5rem; 
      padding-left: 0.417rem;
      border: 0;
      background: #e5e5e5;
      font-size: 0.583rem;
      font-family: $thirdFont;
      font-weight: 400;
      color: #888888;
      line-height: 1.75rem;
      letter-spacing: 0.14px;
      border-radius: 0.125rem;
    }
    #message-container1 {
      width: 3.542rem;
      height: 1.542rem;
      padding: 0;
      margin: 0;
      margin: 0;
      padding: 0; 
      font-family: $mainFont;
      font-weight: 400;
      font-size: 0.417rem;
      line-height: 0.917rem;
      letter-spacing: 0.5px;
      text-align: center;
      margin-top: -0.25rem;
      margin-left: 0.167rem;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0px 7px;
      background-color: transparent;
      color: #ffffff;
    }
  }
  #input1_errorMessage {
    padding: 0.292rem;
    border: 0;
    height: 0.625rem;
    line-height: 0.208rem;
    font-family: $mainFont;
    margin-top: -1.042rem;
    font-size: 0.417rem;
    line-height: 0;
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: #888888;
  }
  .line2 {
    width: 11.458rem;
    height: 1.167rem;
    display: flex;
    flex-direction:row;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: -0.917rem;
    #input2 {
      width: 8.458rem;
      height: 1.167rem;
      margin: 0;  
      font-size: 0.5rem; 
      margin: 0;
      padding-left: 0.417rem;
      border: 0;
      background: #e5e5e5;
      font-size: 0.583rem;
      font-family: $thirdFont;
      font-weight: 400;
      color: #888888;
      line-height: 1.75rem;
      letter-spacing: 0.14px;
      border-radius: 0.125rem;
    }
    #message-container2 {
      width: 3.542rem;
      height: 1.542rem;
      padding: 0;
      margin: 0;
      font-family: $mainFont;
      font-weight: 400;
      font-size: 0.417rem;
      line-height: 1.833rem;
      letter-spacing: 0.5px;
      text-align: center;
      margin-top: -0.25rem;
      margin-left: 0.167rem;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0px 7px;
      background-color: transparent;
      color: #ffffff;
    }
  }
  #input2_errorMessage {
    padding: 0.292rem;
    border: 0;
    height: 0.625rem;
    line-height: 0.208rem;
    font-family: $mainFont;
    margin-top: -1.042rem;
    font-size: 0.417rem;
    line-height: 0;
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: #888888;
  }
  .line3 {
    width: 11.458rem;
    height: 1.167rem;
    display: flex;
    flex-direction:row;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: -0.917rem;
  #input3 {
    width: 8.458rem;
    height: 1.167rem;
    margin: 0;  
    font-size: 0.5rem; 
    padding-left: 0.417rem;
    border: 0;
    background: #e5e5e5;
    font-size: 0.583rem;
    font-family: $thirdFont;
    font-weight: 400;
    color: #888888;
    line-height: 1.75rem;
    letter-spacing: 0.14px;
    border-radius: 0.125rem;
  }
  #message-container3 {
    width: 3.542rem;
    height: 1.542rem;
    padding: 0;
    margin: 0;
    font-family: $mainFont;
    font-weight: 400;
    font-size: 0.417rem;
    line-height: 1.833rem;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: -0.25rem;
    margin-left: 0.167rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0px 7px;
    background-color: transparent;
    color: #ffffff;
  }
}
#input3_errorMessage {
  padding: 0.292rem;
  border: 0;
  height: 0.625rem;
  line-height: 0.208rem;
  font-family: $mainFont;
  margin-top: -1.042rem;
  font-size: 0.417rem;
  line-height: 0;
  letter-spacing: 0.5px;
  font-weight: lighter;
  color: #888888;
}
.line4 {
  width: 11.458rem;
  height: 1.167rem;
  display: flex;
  flex-direction:row;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: -0.917rem;
  #input4 {
    width: 8.458rem;
    height: 1.167rem;
    margin: 0;  
    font-size: 0.5rem; 
    padding-left: 0.417rem;
    border: 0;
    background: #e5e5e5;
    font-size: 0.583rem;
    font-family: $thirdFont;
    font-weight: 400;
    color: #888888;
    line-height: 1.75rem;
    letter-spacing: 0.14px;
    border-radius: 0.125rem;
  }
  #message-container4 {
    width: 3.542rem;
    height: 1.542rem;
    padding: 0;
    margin: 0;
    font-family: $mainFont;
    font-weight: 400;
    font-size: 0.417rem;
    line-height: 1.833rem;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: -0.25rem;
    margin-left: 0.167rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0px 7px;
    background-color: transparent;
    color: #ffffff;
  }
}
#input4_errorMessage {
  padding: 0.292rem;
  border: 0;
  height: 0.625rem;
  line-height: 0.208rem;
  font-family: $mainFont;
  margin-top: -1.042rem;
  font-size: 0.417rem;
  line-height: 0;
  letter-spacing: 0.5px;
  font-weight: lighter;
  color: #888888;
}
.toggle {
  display: flex;
  flex-direction: row;
  margin-left: -4.583rem;
  margin-top: -0.833rem;
  .toggle_content {
    font-size: 0.5rem;
    width: 100%;
    margin-left: -4.167rem;
    white-space: nowrap;
    line-height: 1rem;
    color: #888888;
  }
}
#submit {
  width: 4.917rem;
  height: 1.333rem;
  border: 0.042rem solid #4eb7a8;
  text-align: center;
  background: #ffffff;
  font-weight: bolder;
  color: #4eb7a8;
  letter-spacing: 0;
  font-size: 0.5rem;
  border-radius: 0.208rem;
  box-shadow: 0 -2px rgba(40, 162, 144, 1) inset;
  transition: 0.2s;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  margin-top: 0.417rem;
  left: 6.542rem;
  margin-bottom: 1.25rem;
}
#submit:hover {
  background: #4eb7a8;
  color: #ffffff;
}
#submit, 
#submit:active, 
#submit:focus {
  outline: none;
}
}
.navigation-container {
  width: 14.583rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.875rem;
  margin-left: 30%;
  .ripple {
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
  }
  @keyframes ripple {
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }
  .btn {
    border: 0.042rem solid #4eb7a8;
    text-align: center;
    width: 3.333rem;
    height: 1.333rem;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    font-size: 0.5rem;
    border-radius: 0.208rem;
    box-shadow: 0 -2px rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
  }
  .btn:hover {
    background: #4eb7a8;
    color: #ffffff;
  }
  .btn:active,
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  .btn:visited {
    outline: none;
  }
  .btn::-moz-focus-inner {
    border: 0;
  }
}
}