doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		meta(name="keywords", content="Ключевые слова")
		meta(name="description", content="FSD Тестовое задение - Страница 1")
		link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
		title FSD_UI
	body
		main.page
			.wrapper
				.header
					.logo
					.logout
						a(href="#", class="logout") Logout
					.name Sarah Brown
					.avatar
						img(src="img/user.png", alt="User", hspace="2", vspace="2")
					.search
						.search-wrapper
							input(type="text", id="search", placeholder="Search")
							button#search_icon
				.container
					.profile-container
						.profile-headline MY PROFILE
						.profile-content
							.profile-content-left-side
								.profile-avatar-container
									.profile-avatar
									.profile-edit
										button(name="button",class="pfofile-button") EDIT
								.profile-calendar
									.calendar
										include blocks/calendar/calendar.pug
										+calendar
							.profile-content-right-side
								.profile-content-right-side-header SARAH BROWN
								.profile-content-right-side-contacts
									.line1
										.profession-title PFOFESSION
										.profession Actress
									.line2
										.phone-title PHONE	
										.phone +79263864674
									.line3
										.twitter-title TWITTER
										.twitter twitter
									.line4
										.facebook-title FACEBOOK
										.facebook facebook
								.profile-content-right-side-skills
									.skills
										ul
											li.li1
												span Horror
											li.li2 
												span Thriller
											li.li3
												span Drama
											li.li4 
												span Comedy
									.pie-chart
										
					.right-side
						.right-side-links-contaner
							.right-side-links-contaner-line1 
								a(href="/mock-address/change-me", class="profile") PROFILE
							.right-side-links-contaner-line2
								a(href="/mock-address/change-me", class="feedback") FEEDBACK
							.right-side-links-contaner-line3
								a(href="/mock-address/change-me", class="news-events") NEWS AND EVENTS
						.right-side-news-container
							.right-side-news-container-line1 LAST NEWS
							.right-side-news-container-news1
								include blocks/side-left/side-left.pug
							.right-side-news-container-news2
								include blocks/side-right/side-right.pug
				.navigation-container
							.button1
								button(name="button", class="btn", onclick="document.location='index1.html'") PAGE 1
							.button2
								button(name="button", class="btn", onclick="document.location='index2.html'") PAGE 2
							.button3
								button(name="button", class="btn", onclick="document.location='index3.html'") PAGE 3
							.button4
								button(name="button", class="btn", onclick="document.location='index4.html'") PAGE 4				
				.footer1
					.fotter-chat
						include blocks/messaging/messaging.pug