html,
body {
  font-family: $mainFont;
}

.wrapper {
  max-width: 29.167rem;
  .header {
    width: 100%;
    height: 3.125rem;
    background: white;
    border: 0.042rem solid black;
    font-family: $mainFont;
    .fisrt-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .contacts {
        font-size: 0.5rem;
        width: 8.333rem;
        margin-left: -0.833rem;
        margin-top: 0.625rem;
        .tel {
          font-size: 1rem;
        }
      }
    }
    .second-line {
      height: 1.25rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 0.042rem solid black;
      border-top: none;
      margin: -0.583rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-left: -0.042rem;
      .glavnaya {
        width: 20%;
        font-size: 0.853rem;
        text-align: center;
        padding-left: 0.417rem;
        padding-right: 0.417rem;
        line-height: 1.25rem;
        border-right: 0.042rem solid black;
        a {
          border: none;
          color: black;
          text-decoration: none;
        }
      }
      .photo-rabot {
        font-size: 0.853rem;
        text-align: center;
        padding-left: 0.417rem;
        padding-right: 0.417rem;
        line-height: 1.25rem;
        width: 20%;
        border-right: 0.042rem solid black;
        a {
          border: none;
          color: black;
          text-decoration: none;
        }
      }
      .o-nas {
        font-size: 0.583rem;
        text-align: center;
        padding-left: 0.417rem;
        padding-right: 0.417rem;
        line-height: 1.25rem;
        width: 20%;
        border-right: 0.042rem solid black;
        a {
          border: none;
          color: black;
          text-decoration: none;
        }
      }
      .otzivi {
        font-size: 0.583rem;
        text-align: center;
        padding-left: 0.417rem;
        padding-right: 0.417rem;
        line-height: 1.24rem;
        width: 20%;
        border-right: 0.042rem solid black;
        a {
          border: none;
          color: black;
          text-decoration: none;
        }
      }
      .regisration {
        font-size: 0.583rem;
        text-align: center;
        padding-left: 0.417rem;
        padding-right: 0.417rem;
        line-height: 1.25rem;
        width: 20%;
        a {
          border: none;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.083rem;
    justify-content: space-between;
    font-family: $mainFont;
    .div1 {
      height: 5rem;
      width: 49%;
      display: flex;
      flex-direction: row;
      .diagramm1 {
        margin-top: 0.417rem;
      }
      .content1 {
          line-height: 4.792rem;
          margin-left: 0.625rem;
      }
    }
    .div2 {
      height: 5rem;
      width: 49%;
      display: flex;
      flex-direction: row;
      .diagramm2 {
        margin-top: 0.417rem;
      }
      .content2 {
        margin-left: 0.625rem;
        margin-top: 1.667rem;
      }
    }
    .div3 {
      height: 5rem;
      width: 49%;
      display: flex;
      flex-direction: row;
      margin-top: 0.417rem;
      .diagramm3 {
        margin-top: 0.417rem;
      }
      .content3 {
        line-height: 4.792rem;
        margin-left: 0.625rem;
      }
    }
    .div4 {
      height: 5rem;
      width: 49%;
      display: flex;
      flex-direction: row;
      margin-top: 0.417rem;
      .diagramm4 {
        margin-top: 0.417rem;
      }
      .content4 {
        line-height: 4.792rem;
        margin-left: 0.625rem;
      }
    }
  }
  .comment-headline {
    text-align: center;
    margin: auto;
    font-family: $mainFont;
    font-size: 0.833rem;
    margin-bottom: 0.417rem;
    margin-top: 0.833rem;
  }
  .comment-container {
    display: flex;
    flex-direction: row;
    width: 25rem;
    margin:auto;
    font-family: $mainFont;
    justify-content: center;
    .calendar-headline {
      text-align: center;
    }
    .calendar {
      transform: scale(0.92) translateY(-20px);
    }
  }
  .form-container {
    width: 10.417rem;
    margin-top: 0.75rem;
    .line1 {
      width: 10.417rem;
      #input1 {
        width: 10.417rem;
        height: 1.25rem;
        background: #e5e5e5;
        font-family: $mainFont;
      }
    }
    .line2 {
      width: 10.417rem;
      #input2 {
        width: 10.417rem;
        height: 1.25rem;
        background: #e5e5e5;
        font-family: $mainFont;
      }
    }
    .raiting {
      font-family: $mainFont;
      color: #757575;
      font-size: 0.556rem;
      margin-top: 0.208rem;
    }
    .line3 {
      transform: scale(0.421);
      margin-left: -5.833rem;
      margin-top: 0;
      margin-left: -3.958rem;
    }
    .line4 {
      width: 10.417rem;
      margin-top: -2.083rem;
      #input4 {
        width: 10.417rem;
        height: 3.75rem;
        background: #e5e5e5;
        font-family: $mainFont;
      }
    }
    .ripple {
      border-radius: 50%;
      background-color: white;
      opacity: 0.7;
      position: absolute;
      transform: scale(0);
      animation: ripple 0.6s linear;
    }
    @keyframes ripple {
      to {
        transform: scale(1.3);
        opacity: 0;
      }
    }
    #submit {
      width: 4.917rem;
      height: 1.333rem;
      border: 0.042rem solid #4eb7a8;
      text-align: center;
      background: #ffffff;
      font-weight: bolder;
      color: #4eb7a8;
      letter-spacing: 0;
      font-size: 0.5rem;
      border-radius: 0.208rem;
      box-shadow: 0 -2px rgba(40, 162, 144, 1) inset;
      transition: 0.2s;
      vertical-align: middle;
      overflow: hidden;
      position: relative;
      margin-top: 0.208rem;
      left: 5.792rem;
      margin-bottom: 1.25rem;
    }
    #submit:hover {
      background: #4eb7a8;
      color: #ffffff;
    }
    #submit, 
    #submit:active, 
    #submit:focus {
      outline: none;
    }
  }
  .navigation-container {
      width: 14.583rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.875rem;
      margin-left: 30%;
      margin-top: -4.167rem;
      .ripple {
        border-radius: 50%;
        background-color: white;
        opacity: 0.7;
        position: absolute;
        transform: scale(0);
        animation: ripple 0.6s linear;
      }
      @keyframes ripple {
        to {
          transform: scale(1.3);
          opacity: 0;
        }
      }
      .btn {
        border: 0ю042куь solid #4eb7a8;
        text-align: center;
        width: 3.333rem;
        height: 1.333rem;
        background: #ffffff;
        font-weight: bolder;
        color: #4eb7a8;
        font-size: 0.5rem;
        border-radius: 0.208rem;
        box-shadow: 0 -2px rgba(40, 162, 144, 1) inset;
        transition: 0.2s;
        vertical-align: middle;
        overflow: hidden;
        position: relative;
      }
      .btn:hover {
        background: #4eb7a8;
        color: #ffffff;
      }
      .btn:active,
      .btn:focus {
        outline: none;
        box-shadow: none;
      }
      .btn:visited {
        outline: none;
      }
      .btn::-moz-focus-inner {
        border: 0;
      }
    }
    .footer1 {
      width: 100%;
      bottom: 0;
      position: relative;
      font-family: $mainFont;
      .location {
        width: 100%;
        .location-wrapper {
          width: 24.75rem;
          height: 11.292rem;
          margin-left: 2.5rem;
          position: relative;
          z-index: 0;
        }
        .location-content {
          width: 24.75rem;
          height: 2.875rem;
          position: relative;
          z-index: 100;
          margin-top: -2.875rem;
          margin-bottom: 2.083rem;
          margin-left: 2.5rem;
          border-radius: 0 0 0.125rem 0.125rem;
          background: #e75735;
          display:flex;
          flex-direction: row;
          .title {
            font-family: $secondFont;
            font-size: 1.25rem;
            color: #ffffff;
            margin-top: 0.542rem;
            margin-left: 0.917rem;
          }   
          .address {
            width: 6.667rem;
            font-size: 0.542rem;
            letter-spacing: 0.63px;
            color: #ffffff;
            margin-top: 0.792rem;
            margin-left: 1.083rem;
          }
          .icon1 {
            width: 1.667rem;
            font-size: 1.667rem;
            background-image: url('img/icon-my-location.png');
            background-repeat: no-repeat;
            background-position: 0 20px;
            margin-left: 7.083rem;
          }
          .icon2 {
            width: 1.667rem;
            font-size: 1.667rem;
            background-image: url('img/icon-pin.png');
            background-repeat: no-repeat;
            background-position: 0 21px;
            margin-left: 0.417rem;
          }
        }
      }
    }
}

