@import "sliders/slider1.scss";
@import "sliders/slider2.scss";
.sliders
{
    width: 110%;
    //background: black;
    .sliders_wrapper
        {
            // margin-left: 117px;
            // margin-right: 117px;
            
            .sliders__headline
            {
                text-align: center;
                margin-bottom: 67px;
            }
            .sliders_wrapper__sliders-container
            {
                margin-top: -10px;
                display: flex;
                flex-direction:row;
                justify-content: space-between;
                margin-bottom: 55px;
                width: 600px;
                margin-left: auto;
                margin-right: auto;
            }
        }
}