@import "scss_assets/fonts.scss";
@import "scss_assets/vars.scss";

html {
    font-size: $mainFontSize;
    color: $mainFontColor;
    max-width: 700px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }

body {
    font-family: $mainFont;
	font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    margin: 0;
    padding: 0;
    }


h1, h2, h3, h4, h5, h6 { 
    margin: 0; 
    }

a {
    text-decoration: none;
    }

main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    }

.wrapper
{
    margin-left: 93px;
    margin-top: 136px;
    margin-right: 89px;
   // border: 1px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $smDesktopWidth) {
        flex-wrap: wrap;
      }
    
    .search_drop_down_user_profile
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .search_drop_down
        {
            width: 275px;
        }
        .user_profile
        {
            width: 275px; 
        }
    }
    .news_events_container
    {
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@import "../blocks/block_buttons/buttons.scss";
@import "../blocks/block_arrows/arrows.scss";
@import "../blocks/block_percents_pie/percents_pie.scss";
@import "../blocks/block_sliders/sliders.scss";
@import "../blocks/block_stages/stages.scss";
@import "../blocks/block_form/form.scss";
@import "../blocks/block_headline/headline.scss";
@import "../blocks/block_search/search.scss";
@import "../blocks/block_drop_down/drop_down.scss";
@import "../blocks/block_user/user.scss";
@import "../blocks/block_side1/side1.scss";
@import "../blocks/block_side2/side2.scss";
@import "../blocks/block_location/location.scss";