.form
    .form_wrapper
        .form_wrapper__headline
            p.form__headline FORM  ELEMENTS
        .page_elements
            .form-container
                p#completeForm 
                .line1 
                    input(type="text", id="input1", placeholder="Your Name")
                    div#message-container1
                p#input1_errorMessage
                .line2
                    input(type="text", id="input2", placeholder="Your E-mail")
                    div#message-container2
                p#input2_errorMessage
                .line3
                    textarea(type="text", id="input3", placeholder="Your Message")
                .line4
                    button#submit SUBMIT
            .toggles_tick-container
                include toggles.pug