.toggles
    .toggles_wrapper
        .toggles_wrapper__headline
            p.toggles__headline TOGGLES
        .toggles-container
            div#toggle1
                button#buttontoggles OFF
                div#toggles_circle
        