.toggles
    .toggles_wrapper
        .toggles_wrapper__headline
            p.toggles__headline TOGGLES
        .toggles-container
            .toggle1
                button#toggles1 OFF
                div.toggles1_circle1
            .toggle2    
                button#toggles2 ON
                div.toggles1_circle2