include ../button/button.pug

mixin form
    .js-form
        .js-form__completeform
        .js-form__name
            input.js-form__name-input(type="text", placeholder="Your Name")
            .js-form__name-message-container error
        .js-form__name-input-error-message
        .js-form__email
            input.js-form__email-input(type="text", placeholder="Your E-mail")
            .js-form__email-message-container error
        .js-form__email-input-error-message
        .js-form__message
            textarea.js-form__message-input(type="text", placeholder="Your Message")
        .js-form__submit
            +button({
                size: `submit`,
                color: `green`,
                name: `js-ripple`,
                title: `submit`,
                addClassName: 'form__submit-button'
            })
