.form {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  white-space: nowrap;

  &__completeform {
    border: 0;
    height: 0.75rem;
    font: normal lighter 0.5rem $lato;
    letter-spacing: 0.021rem;
    color: red;
    margin: 0 0 1rem 3.333rem;
  }

  &__name {
    width: 14.458rem;
    height: 1.167rem;
    display: flex;
    flex-direction:row;
    margin-top: 0.2rem;

    &-input {
      height: 1.167rem;
      width: 57%;
      margin: 0;
      padding: 0 0 0 0.4rem;
      border: 0;
      background: #e5e5e5;
      font: normal 400 0.583rem $sansPro;
      color: #888888;
      line-height: 1.75rem;
      letter-spacing: 0.006rem;
      border-radius: 0.125rem;
    }

    &-message-container {
      height: 1.452rem;
      width: 25%;
      font-family: $lato;
      font-weight: 400;
      font-size: 0.417rem;
      line-height: 1.2rem;
      letter-spacing: 0.021rem;
      text-align: center;
      margin: 0 0 0 0.167rem;
      vertical-align: middle;
      background-repeat: no-repeat;
      color: #ffffff;
      background-image: url('./images/form-orange.png');
      text-transform: uppercase;
    }
  }

  &__name-input-error-message {
    border: 0;
    height: 0.56rem;
    font: lighter 0.32rem $lato;
    line-height: 0.5rem;
    letter-spacing: 0.021rem;
    color: #888888;
    padding-left: 0.4rem;
  }

  &__email {
    width: 14.458rem;
    height: 1.167rem;
    display: flex;
    flex-direction:row;

    &-input {
      width: 57%;
      height: 1.167rem;
      margin: 0;
      padding: 0 0 0 0.4rem;
      border: 0;
      background: #e5e5e5;
      font: normal 0.583rem $sansPro;
      color: #888888;
      line-height: 1.75rem;
      letter-spacing: 0.006rem;
      border-radius: 0.125rem;
    }

    &-message-container {
      width: 25%;
      height: 1.542rem;
      font-family: $lato;
      font-weight: 400;
      font-size: 0.417rem;
      line-height: 1.2rem;
      letter-spacing: 0.021rem;
      text-align: center;
      margin-left: 0.167rem;
      vertical-align: middle;
      background-repeat: no-repeat;
      color: #ffffff;
      background-image: url('./images/form-orange.png');
      text-transform: uppercase;
    }
  }

  &__email-input-error-message {
    border: 0;
    height: 0.56rem;
    font: lighter 0.32rem $lato;
    line-height: 0.5rem;
    letter-spacing: 0.021rem;
    color: #888888;
    padding-left: 0.4rem;
  }

  &__message {
    width: 15.2rem;
    height: 3.1rem;
    position: relative;

    &-input {
      width: 76.5%;
      height: 3.3rem;
      padding: 0.33rem 0 0 0.4rem;
      border: 0;
      background: #e5e5e5;
      font-size: 0.583rem;
      font-family: $sansPro;
      font-weight: 400;
      color: #888888;
      letter-spacing: 0.006rem;
      border-radius: 0.125rem;
      resize: none;
    }
  }

  &__submit {
    margin: 0.9rem 0 0 7rem;
  }
}


.form{
  &__name,
  &__email,
  &__message{
    width:100%;
    &-input{
      width:75%;
    }
    &-message-container{
      background-size: 100% 80%;
    }
  }

  &__message{
    &-input{
      width:100%;
      box-sizing: border-box;
    }
  }

  &__submit{
    margin:0;
    margin-top: 0.9rem;
    align-self: flex-end;
  }
}