.form-interior {

  &__wrapper {
    width: 10.417rem;
    margin-top: 0.75rem;
  }

  &__name-container {
    width: 10.417rem;
  }

  &__name-input{
    width: 10.417rem;
    height: 1.25rem;
    background: #e5e5e5;
  }

  &__email-container {
    width: 10.417rem;
  }

  &__email-input {
    width: 10.417rem;
    height: 1.25rem;
    background: #e5e5e5;
  }
    
  &__raiting {
    color: #757575;
    font-size: 1.3rem;
    margin: 0.208rem 0 1rem 1rem;
  }

  &__raiting-container {
    transform: translate(-3.4rem, -1rem) scale(0.421);
  }

  &__message-container {
    width: 10.417rem;
    position: relative;
  }

  &__message-text {
    width: 10.417rem;
    height: 3.75rem;
    background: #e5e5e5;
    position: absolute;
    top: -2rem;
  }
  
  .ripple {
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
  }

  @keyframes ripple {
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }

  &__submit-container {
    position: relative;
  }
  &__submit-button {
    width: 4.917rem;
    height: 1.333rem;
    border: 0.042rem solid #4eb7a8;
    text-align: center;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    letter-spacing: 0;
    font-size: 0.5rem;
    border-radius: 0.208rem;
    box-shadow: 0 -0.083rem rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    top: 2.5rem;
    left: 5.792rem;
    position: absolute;

    margin-bottom: 1.25rem;
  }

  &__submit-button:hover {
    background: #4eb7a8;
    color: #ffffff;
  }

  &__submit-button, 
  &__submit-button:active, 
  &__submit-button:focus {
    outline: none;
  }
}