.form-interior {
  width: 10.417rem;
  margin-top: 0.75rem;

  &__name-container {
    width: 10.417rem;
  }

  &__name-input {
    width: 10.417rem;
    height: 1.25rem;
    background: #e5e5e5;
  }

  &__email-container {
    width: 10.417rem;
  }

  &__email-input {
    width: 10.417rem;
    height: 1.25rem;
    background: #e5e5e5;
  }

  &__raiting {
    color: #757575;
    font-size: 1.3rem;
    margin: 0.208rem 0 1rem 1rem;
  }

  &__raiting-container {
    transform: translate(-3.4rem, -1rem) scale(0.421);
  }

  &__message-container {
    width: 10.417rem;
    position: relative;
  }

  &__message-text {
    width: 10.417rem;
    height: 3.75rem;
    background: #e5e5e5;
    position: absolute;
    top: -2rem;
  }

  &__submit-container {
    margin: 3rem 0 0 5.7rem;
  }
}