.header-rent-auto {
  width: 100%;

  &__logotip-container {
    background: #e75736;
    height: 5.833rem;
  }

  &__logotip {
    width: 8.333rem;
    height: 2.083rem;
    font-size: 0.917rem;
    color: green;
    margin: auto;
    line-height: 3.75rem;
    text-transform: uppercase;
  }

  &__menu-container {
    height: 1.667rem;
    width:90%;
    max-width: 15rem;
    margin: auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -2.5rem;
  }

  &__main-page-button {
    border: 0.042rem solid #4eb7a8;
    text-align: center;
    width: 3.25rem;
    height: 0.917rem;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    font-size: 0.417rem;
    border-radius: 0.208rem;
    box-shadow: 0 -0.083rem rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    margin: 0.333rem 0 0 1.25rem;
    text-transform: uppercase;

    &:hover {
      background: #4eb7a8;
      color: #ffffff;
    }
  }

  &__main-page-button:active,
  &__main-page-button:focus {
    outline: none;
    box-shadow: none;
  }

  &__main-page-button:visited {
    outline: none;
  }

  &__catalogue-button {
    border: 0.042rem solid #4eb7a8;
    text-align: center;
    width: 3.25rem;
    height: 0.917rem;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    font-size: 0.417rem;
    border-radius: 0.208rem;
    box-shadow: 0 -0.083rem rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    margin-left: 1.25rem;
    margin-top: 0.333rem;
    text-transform: uppercase;

    &:hover {
      background: #4eb7a8;
      color: #ffffff;
    }
  }

  &__catalogue-button:active,
  &__catalogue-button:focus {
    outline: none;
    box-shadow: none;
  }

  &__catalogue-button:visited {
    outline: none;
  }

  &__about-us-button {
    border: 0.042rem solid #4eb7a8;
    text-align: center;
    width: 3.25rem;
    height: 0.917rem;
    background: #ffffff;
    font-weight: bolder;
    color: #4eb7a8;
    font-size: 0.417rem;
    border-radius: 0.208rem;
    box-shadow: 0 -0.083rem rgba(40, 162, 144, 1) inset;
    transition: 0.2s;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    margin: 0.333rem 0 0 1.25rem;
    text-transform: uppercase;

    &:hover {
      background: #4eb7a8;
      color: #ffffff;
    }
  }

  &__about-us-button:active,
  &__about-us-button:focus {
    outline: none;
    box-shadow: none;
  }

  &__about-us-button:visited {
    outline: none;
  }
}