
.page-interior {
  color: black;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.083rem;
    justify-content: space-between;
  }

  &__diagramm-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.75rem;
    margin: 1rem 0 1rem 0;
  }

  &__overdue-project-diagramm-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  &__overdue-project-diagramm {
    margin: 0.417rem 0 0 0.8rem;
  }

  &__overdue-project-diagramm-content {
    line-height: 0.792rem;
    margin-top: 1.8rem;
  }

  &__early-project-diagramm-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
  }

  &__early-project-diagramm {
    margin-top: 0.417rem;
  }

  &__early-project-diagramm-content {
    margin: 1.667rem 0 0 0.625rem;
    min-width: 12rem;
  }

  &__custom-project-diagramm-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
    margin-top: 0.417rem;
  }

  &__custom-project-diagramm {
    margin-top: 0.417rem;
  }

  &__custom-project-diagramm-content {
    line-height: 0.792rem;
    margin-top: 1.8rem;
    margin-left: 0.625rem;
  }

  &__satisfied-client-diagramm-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
    margin-top: 0.417rem;
  }

  &__satisfied-client-diagramm {
    margin: 0.417rem 0 0 0.1rem;
  }

  &__satisfied-client-diagramm-content {
    line-height: 4.792rem;
    margin-left: 0.625rem;
  }

  &__feedback-headline {
    text-align: center;
    margin: 0.833rem auto 0.417rem auto;
    font-size: 1rem;
  }

  &__feedback-container {
    display: flex;
    flex-direction: row;
    width: 25rem;
    margin: auto;
    justify-content: center;
  }

  &__feedback-calendar-headline {
    text-align: center;
    font-size: 0.75rem;
  }

  &__feedback-calendar {
    transform: scale(0.92) translateY(-0.833rem);
  }

  &__navigation {
    margin: auto;
  }

}