.page-interior {
  color: black;
  margin: auto;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.083rem;
    justify-content: space-between;
  }

  &__diagramm-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.75rem;
    margin: 1rem 0 1rem 0;

    @media screen and (max-width: 720px) {
      margin-left: 17%;
    }
  }

  &__overdue-project-diagramm-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
    position: relative;

    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }

  &__overdue-project-diagramm {
    margin-top: 0.417rem;
  }

  &__overdue-project-diagramm-content {
    line-height: 0.792rem;
    margin-top: 1.8rem;
  }

  &__early-project-diagramm-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }

  &__early-project-diagramm {
    margin-top: 0.417rem;
  }

  &__early-project-diagramm-content {
    margin: 1.2rem 0 0 0.625rem;
    min-width: 8rem;
  }

  &__custom-project-diagramm-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
    margin-top: 0.417rem;

    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }

  &__custom-project-diagramm {
    margin-top: 0.417rem;
  }

  &__custom-project-diagramm-content {
    line-height: 0.792rem;
    margin: 1.8rem 0 0 0.625rem;
  }

  &__satisfied-client-diagramm-container {
    height: 5rem;
    width: 49%;
    display: flex;
    flex-direction: row;
    margin-top: 0.417rem;

    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }

  &__satisfied-client-diagramm {
    margin: 0.417rem 0 0 0.1rem;
  }

  &__satisfied-client-diagramm-content {
    line-height: 4.792rem;
    margin-left: 0.625rem;
    min-width: 12rem;
  }

  &__feedback-headline {
    text-align: center;
    margin: 0.833rem auto 0.417rem auto;
    font-size: 1rem;
  }

  &__feedback-container {
    display: flex;
    flex-direction: row;
    width: 25rem;
    margin: auto;
    justify-content: space-evenly;

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }

  &__feedback-calendar-headline {
    text-align: center;
    font-size: 0.75rem;
    margin: 0 0 1.1rem 5.7rem;

    @media screen and (max-width: 720px) {
      margin-right: 5rem;
    }
  }

  &__feedback-calendar {
    transform: scale(0.92) translate(3rem,-1.5rem);

    @media screen and (max-width: 720px) {
      transform: scale(0.92) translate(7rem,-1.5rem);
    }
  }

  &__feedback-form {
    margin: 0.29rem 0 0 4rem;

    @media screen and (max-width: 720px) {
      margin: 0 0 3rem 6rem;
    }
  }

  &__navigation {
    margin: auto;
  }

  &__footer-interior {

    @media screen and (max-width: 720px) {
      transform: scale(0.7);
    }
  }
}