include ../header-interior/header-interior
include ../percents/percents
include ../calendar/calendar
include ../form-interior/form-interior
include ../navigation/navigation
include ../location/location

mixin page-interior
    main.page-interior
        .page-interior__header-interior
            +header-interior({
                source: "src/blocks/header-interior/images/logo-3.png"
            })
        .page-interior__content
            .page-interior__diagramm-container
                .page-interior__overdue-project-diagramm-container
                    .page-interior__overdue-project-diagramm
                        +percents({
                            percent: 0,
                        })
                    .page-interior__overdue-project-diagramm-content Просроченных проектов.
                .page-interior__early-project-diagramm-container
                    .page-interior__early-project-diagramm
                        +percents({
                            percent: 25,
                        })
                    .page-interior__early-project-diagramm-content Проектов, выполненных досрочно.
                .page-interior__custom-project-diagramm-container
                    .page-interior__custom-project-diagramm
                        +percents({
                            percent: 35
                        })
                    .page-interior__custom-project-diagramm-content Нестандартных проектов.
                .page-interior__satisfied-client-diagramm-container
                    .page-interior__satisfied-client-diagramm
                        +percents ({
                            percent: 87
                        })
                    .page-interior__satisfied-client-diagramm-content Довольных клиентов.
            .page-interior__feedback
                .page-interior__feedback-headline Оставить отзыв
                .page-interior__feedback-container
                    .page-interior__feedback-calendar-container
                        .page-interior__feedback-calendar-headline Выбрать день публикации
                        .page-interior__feedback-calendar
                            +calendar
                    .page-interior__feedback-form
                        +form-interior
            .page-interior__navigation
                +navigation({
                    socialNetwork: "social-network",
                    job: "job",
                    interior: "interior",
                    rentAuto: "rent-auto"
                })
        .page-interior__footer-interior
            +location({
                title: "Meet us!",
                address: "1259  California St san Francisco, CA"
            })