include ../tooltips/form-tolltip/form-tooltip

mixin form-rent-auto
    .form-rent-auto.js-form-rent-auto
        .form-rent-auto__surname-container
            input.form-rent-auto__surname-input(type="text", placeholder="Ваша фамилия")
            +form-tooltip({
              name: 'form-rent-auto__surname-input-message'
            })
        .form-rent-auto__surname-error-message
        .form-rent-auto__name-container
            input.form-rent-auto__name-input(type="text", placeholder="Ваше имя")
            +form-tooltip({
              name: 'form-rent-auto__name-input-message'
            })
        .form-rent-auto__name-error-message
        .form-rent-auto__patronymic-container
            input.form-rent-auto__patronymic-input(type="text", placeholder="Ваше отчество", )
            +form-tooltip({
              name: 'form-rent-auto__patronymic-input-message'
            })
        .form-rent-auto__patronymic-error-message
        .form-rent-auto__phone-container
            input.form-rent-auto__phone-input(type="text", placeholder="Контактный телефон")
            +form-tooltip({
              name: 'form-rent-auto__phone-input-message'
            })
        .form-rent-auto__phone-error-message
        .form-rent-auto__email-container
            input.form-rent-auto__email-input(type="text", placeholder="E-mail адрес")
            +form-tooltip({
              name: 'form-rent-auto__email-input-message'
            })
        .form-rent-auto__email-error-message