mixin form-rent-auto
    .js-form-rent-auto
        .js-form-rent-auto__surname-container
            input.js-form-rent-auto__surname-input(type="text", placeholder="Ваша фамилия")
            .js-form-rent-auto__surname-message
        .js-form-rent-auto__surname-error-message
        .js-form-rent-auto__name-container
            input.js-form-rent-auto__name-input(type="text", placeholder="Ваше имя")
            .js-form-rent-auto__name-message
        .js-form-rent-auto__name-error-message
        .js-form-rent-auto__patronymic-container
            input.js-form-rent-auto__patronymic-input(type="text", placeholder="Ваше отчество", )
            .js-form-rent-auto__patronymic-message
        .js-form-rent-auto__patronymic-error-message
        .js-form-rent-auto__phone-container
            input.js-form-rent-auto__phone-input(type="text", placeholder="Контактный телефон")
            .js-form-rent-auto__phone-message
        .js-form-rent-auto__phone-error-message
        .js-form-rent-auto__email-container
            input.js-form-rent-auto__email-input(type="text", placeholder="E-mail адрес")
            .js-form-rent-auto__email-message
        .js-form-rent-auto__email-error-message