.form-rent-auto {
  width: 10.417rem;
  font-size: 0.583rem;

  &__surname-container,
  &__patronymic-container,
  &__name-container,
  &__phone-container,
  &__email-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__surname-input,
  &__name-input,
  &__patronymic-input,
  &__phone-input,
  &__email-input {
    width: 100%;
    height: 1.4rem;
    background: #e5e5e5;
    border: none;
    border-radius: 0.125rem;
    margin: auto;
  }

  &__surname-error-message,
  &__name-error-message,
  &__patronymic-error-message,
  &__phone-error-message,
  &__email-error-message {
    font-size: 0.417rem;
    color: #555564;
    height: 0.125rem;
    line-height: 0.1rem;
    margin: 0.3rem 0 0.3rem 0;
  }
}