mixin form-rent-auto
    .form-rent-auto
        .form-rent-auto__wrapper
            .form-rent-auto__surname-container
                input(type="text", id="form-rent-auto__surname-input", placeholder="Ваша фамилия", class= "form-rent-auto__surname-input")
                #form-rent-auto__surname-message
            #form-rent-auto__surname-error-message
            .form-rent-auto__name-container
                input(type="text", id="form-rent-auto__name-input", placeholder="Ваше имя", class= "form-rent-auto__name-input")
                #form-rent-auto__name-message
            #form-rent-auto__name-error-message
            .form-rent-auto__patronymic-container
                input(type="text", id="form-rent-auto__patronymic-input", placeholder="Ваше отчество", class= "form-rent-auto__patronymic-input")
                #form-rent-auto__patronymic-message
            #form-rent-auto__patronymic-error-message
            .form-rent-auto__phone-container
                input(type="text", id="form-rent-auto__phone-input", placeholder="Контактный телефон", class= "form-rent-auto__phone-input")
                #form-rent-auto__phone-message
            #form-rent-auto__phone-error-message
            .form-rent-auto__email-container
                input(type="text", id="form-rent-auto__email-input", placeholder="E-mail адрес", class= "form-rent-auto__email-input")
                #form-rent-auto__email-message
            #form-rent-auto__email-error-message